app-auto-complete {
  margin-bottom: 1rem;
  display: block;
  max-width: 24.4rem;
}

.govuk-list {
  max-width: 24.5rem;
}

.selected-courthouse {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b1b4b6;
  padding-bottom: 0.5rem;
}
