<app-data-table caption="Hearings associated with the audio" [hiddenCaption]="true" [columns]="columns" [rows]="rows()">
  <ng-template [tableRowTemplate]="rows()" let-row>
    <td class="case-id">
      <a class="govuk-link" [routerLink]="['/admin/case', row.caseId]" [queryParams]="{ backUrl: url() }">
        {{ row.caseNumber }}</a
      >
    </td>
    <td class="hearing-date">
      <a
        class="govuk-link"
        [routerLink]="['/admin/case', row.caseId, 'hearing', row.hearingId]"
        [queryParams]="{ backUrl: url() }"
        >{{ row.hearingDate | luxonDate: 'dd MMM yyyy' }}
      </a>
    </td>
    <td>{{ row.courthouse }}</td>
    <td>{{ row.courtroom }}</td>
  </ng-template>
</app-data-table>
