<label class="govuk-label" for="courthouse">Courthouse</label>
<!-- autocomplete -->
<div
  *ngIf="courthouses.length"
  #courthouseAutocomplete
  id="courthouse-autocomplete-container"
  class="govuk-input--width-20"
  [class.govuk-input--error]="isInvalid"
></div>

<!-- fall back to standard input if there is no courthouses provided-->
<input
  *ngIf="!courthouses.length"
  class="govuk-input govuk-input--width-10"
  [class.govuk-input--error]="isInvalid"
  id="courthouse"
  name="courthouse"
  type="text"
  aria-describedby="courthouse-hint"
  (keyup)="courthouseSelect.emit($any($event).target.value)"
/>
