<app-reporting-restriction [restrictions]="caseFile.reportingRestrictions"></app-reporting-restriction>

<app-govuk-heading caption="Case ID">{{ caseFile.number }}</app-govuk-heading>
<h2 class="govuk-heading-s">Courthouse</h2>
<p class="govuk-body">{{ caseFile.courthouse }}</p>
<h2 class="govuk-heading-s">Prosecutor(s)</h2>
<p class="govuk-body">{{ caseFile.prosecutors | join: ', ' : '-' }}</p>
<h2 class="govuk-heading-s">Defence(s)</h2>
<p class="govuk-body">{{ caseFile.defenders | join: ', ' : '-' }}</p>
<h2 class="govuk-heading-s">Defendant(s)</h2>
<p class="govuk-body">{{ caseFile.defendants | join: ', ' : '-' }}</p>

@if (
  userService.isRequester() ||
  userService.isApprover() ||
  userService.isCourthouseJudge(caseFile.courthouseId) ||
  userService.isAdmin() ||
  userService.isSuperUser()
) {
  <h2 class="govuk-heading-s">Retained until</h2>
  <p class="govuk-body">
    @if (caseFile.retainUntilDateTime) {
      {{ caseFile.retainUntilDateTime | dateTime: 'd MMM y' }}
    } @else {
      No date applied
    }

    <a routerLink="retention" routerLinkActive="router-link-active" class="govuk-link retention-link">View or change</a>
  </p>
}
