<app-automated-task-status [taskId]="taskId" [status]="taskRunStatus()" />

@if (task(); as task) {
  <header>
    <app-govuk-heading size="xl" caption="Automated task">{{ task.name }}</app-govuk-heading>
    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" (click)="onRunTaskButtonClicked()">Run task</button>
      <button class="govuk-button govuk-button--secondary" (click)="onActivateDeactiveButtonClicked()">
        Make {{ task.isActive ? 'inactive' : 'active' }}
      </button>
    </div>
  </header>

  <strong class="govuk-tag" [class.govuk-tag--grey]="!task.isActive">
    {{ task.isActive ? 'Active' : 'Inactive' }}</strong
  >

  <app-details-table title="" [details]="details()"></app-details-table>
}
