<app-automated-task-status [taskId]="taskId" [status]="taskRunStatus()" />

@if (task(); as task) {
  <header>
    <app-govuk-heading size="xl" caption="Automated task">{{ task.name }}</app-govuk-heading>
    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" (click)="onRunTaskButtonClicked(task.name)">Run task</button>
      <button class="govuk-button govuk-button--secondary" (click)="onActivateDeactiveButtonClicked(task.name)">
        Make {{ task.isActive ? 'inactive' : 'active' }}
      </button>
    </div>
  </header>

  <app-govuk-tag [colour]="task.isActive ? 'blue' : 'grey'">{{ task.isActive ? 'Active' : 'Inactive' }}</app-govuk-tag>

  <app-details-table title="" [details]="details()"></app-details-table>
}
