@if (courthouse$ | async; as courthouse) {
  @if (isNewCourthouse$ | async) {
    <app-govuk-banner type="success">
      {{ 'Created ' + courthouse.displayName }}
    </app-govuk-banner>
  }
  @if (isUpdatedCourthouse$ | async) {
    <app-govuk-banner type="success">
      {{ courthouse.displayName + ' updated' }}
    </app-govuk-banner>
  }
  @if (isDeletedUserRoles$ | async) {
    <app-govuk-banner type="success">
      {{
        selectedUsers.length +
          ' user ' +
          (selectedUsers.length === 1 ? 'role' : 'roles') +
          ' removed from ' +
          courthouse.displayName
      }}
    </app-govuk-banner>
  }

  @if (isDeleting) {
    <app-delete
      [numberOfItems]="selectedUsers.length"
      [title]="deleteScreenTitle(courthouse.displayName)"
      deleteButtonTxt="Confirm"
      [isRedDeleteButton]="false"
      (confirm)="onDeleteConfirmed()"
      (cancel)="onDeleteCancelled()"
    >
      <div class="govuk-grid-column-one-half">
        <app-data-table id="deletionTable" [rows]="selectedUsers" [columns]="deleteColumns"></app-data-table>
      </div>
    </app-delete>
  } @else {
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="courthouse-record-tags govuk-grid-column-one-third">
            <app-govuk-tag colour="purple">Courthouse record</app-govuk-tag>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ courthouse.displayName }}</h1>
          </div>
          @if (userService.isAdmin()) {
            <div class="govuk-grid-column-one-third">
              <div class="button-container govuk-button-group">
                <button
                  type="submit"
                  class="edit-button govuk-button govuk-button--secondary"
                  (click)="router.navigate(['admin/courthouses', courthouse.id, 'edit'], { state: { courthouse } })"
                >
                  Edit courthouse
                </button>
              </div>
            </div>
          }
        </div>
        <div class="courthouse-record-dates-container">
          <div id="date-created-container">
            <p class="label govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-padding-top-3">
              Date created
            </p>
            <p class="value govuk-body">{{ courthouse.createdDateTime | luxonDate: 'EEE d MMM yyyy' }}</p>
          </div>
          <div id="last-updated-container">
            <p class="label govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-padding-top-3">
              Last updated
            </p>
            <p class="value govuk-body">{{ courthouse.lastModifiedDateTime | luxonDate: 'EEE d MMM yyyy' }}</p>
          </div>
        </div>

        <app-tabs [default]="tab">
          <div *tab="'Details'">
            <app-details-table
              title="Details"
              [details]="{
                'Database ID': courthouse.id,
                'Courthouse name': courthouse.displayName,
                Region: courthouse.region?.name,
                Groups: formatSecurityGroupLinks(courthouse.securityGroups),
              }"
            ></app-details-table>
          </div>

          <div *tab="'Users'; screenReaderText: 'Courthouse users'; id: 'users-tab'">
            <div class="govuk-grid-row">
              @if (users$ | async; as users) {
                <app-courthouse-users [users]="users" (selectRowsEvent)="onDeleteClicked($event)" />
              } @else {
                <app-loading />
              }
            </div>
          </div>
        </app-tabs>
      </div>
    </div>
  }
} @else {
  <app-loading />
}
