// .govuk-label.govuk-date-input__label.hour {
//   width: 66.25px;
// }

.govuk-label.govuk-date-input__label.small-text {
  font-size: 15px;
}

.govuk-body.colon {
  display: inline-block;
  position: relative;
  left: -5px;
  top: -2px;
}

.govuk-date-input__item {
  margin-right: 10px;
}
