.moj-filter {
  width: 350px;
}

.clear-filter {
  padding-bottom: 15px;
  padding-left: 60px;
}

.moj-filter__tag {
  cursor: pointer;
}

.search-filter {
  margin-bottom: 20px;
  font-family: 'GDS Transport', arial, sans-serif;
}
