<app-reporting-restriction
  *ngIf="caseFile.reporting_restriction"
  [reportingRestriction]="caseFile.reporting_restriction"
></app-reporting-restriction>
<h1 class="govuk-caption-l">Case ID</h1>
<h1 class="govuk-heading-l">{{ caseFile.case_number }}</h1>
<h3 class="govuk-heading-s">Courthouse</h3>
<p class="govuk-body">{{ caseFile.courthouse }}</p>
<h3 class="govuk-heading-s">Prosecutor(s)</h3>
<p class="govuk-body">{{ caseFile.prosecutors }}</p>
<h3 class="govuk-heading-s">Defence(s)</h3>
<p class="govuk-body">{{ caseFile.defenders }}</p>
<h3 class="govuk-heading-s">Defendant(s)</h3>
<p class="govuk-body">{{ caseFile.defendants }}</p>
<h3 class="govuk-heading-s">Retained until</h3>
<p class="govuk-body">
  {{ caseFile.retain_until | date : 'd MMM y' }} &nbsp;&nbsp;
  <a *ngIf="caseFile.retain_until" routerLink="#" routerLinkActive="router-link-active" class="govuk-link">Change</a>
</p>
