@if (caseFile.reporting_restrictions?.length) {
  <app-reporting-restriction
    heading="There are restrictions against this case"
    [restrictions]="caseFile.reporting_restrictions"
  >
    <p class="govuk-body">For full details, check the events for each hearing below.</p>
  </app-reporting-restriction>
}

<h1 class="govuk-caption-l">Case ID</h1>
<h1 class="govuk-heading-l">{{ caseFile.case_number }}</h1>
<h3 class="govuk-heading-s">Courthouse</h3>
<p class="govuk-body">{{ caseFile.courthouse }}</p>
<h3 class="govuk-heading-s">Prosecutor(s)</h3>
<p class="govuk-body">{{ caseFile.prosecutors | join }}</p>
<h3 class="govuk-heading-s">Defence(s)</h3>
<p class="govuk-body">{{ caseFile.defenders | join }}</p>
<h3 class="govuk-heading-s">Defendant(s)</h3>
<p class="govuk-body">{{ caseFile.defendants | join }}</p>

@if (userService.isRequester() || userService.isApprover() || userService.isJudge() || userService.isAdmin()) {
  <h3 class="govuk-heading-s">Retained until</h3>
  <p class="govuk-body">
    @if (caseFile.retain_until_date_time) {
      {{ caseFile.retain_until_date_time | date: 'd MMM y' }}
    } @else {
      No date applied
    }

    <a routerLink="retention" routerLinkActive="router-link-active" class="govuk-link retention-link">View or change</a>
  </p>
}
