<a [routerLink]="['/admin/search']" class="govuk-back-link">Back</a>

@let e = event();

@if (e) {
  @if (isObfuscationSuccess()) {
    <app-govuk-banner type="success" ariaLabel="Event text obfuscated banner">
      Event text successfully obfuscated
    </app-govuk-banner>
  }

  @if (showAnonymisedTextBanner()) {
    <app-govuk-banner type="warning" ariaLabel="Event text anonymised banner">
      This event text has been anonymised in line with HMCTS policy.
    </app-govuk-banner>
  }

  <div class="heading-button-container">
    <app-govuk-heading caption="Event">{{ e.id }}</app-govuk-heading>
    @if (showObfuscateButton()) {
      <button id="obfuscate-button" class="govuk-button govuk-button--secondary" (click)="onObfuscateEventText()">
        Obfuscate event text
      </button>
    }
  </div>

  @if (userService.isAdmin()) {
    <app-tabs>
      <app-basic-event-details [event]="e" *tab="'Basic details'" />
      <app-advanced-event-details [event]="e" *tab="'Advanced details'" />
    </app-tabs>
  } @else {
    <app-basic-event-details [event]="e" />
  }
} @else {
  <app-loading />
}
