<!-- Validation Error Summary Component -->
<ng-container *ngIf="errors">
  <app-validation-error-summary [errors]="loginErrors"></app-validation-error-summary>
</ng-container>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': errors }">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Sign in to the DARTS Portal TEST</h1>
      </legend>
      <p *ngIf="errors" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select whether you are an employee of HM Courts and Tribunals
        Service or you work with HM Courts and Tribunals Service.
      </p>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="user-type"
            name="userType"
            formControlName="userType"
            type="radio"
            value="internal"
          />
          <label aria-checked="false" class="govuk-label govuk-radios__label" for="user-type">
            I'm an employee of HM Courts and Tribunals Service
          </label>
          <div id="sign-in-item-hint-internal" class="govuk-hint govuk-radios__hint">
            For users with a justice.gov.uk account.
          </div>
        </div>
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="user-type-2"
            name="userType"
            formControlName="userType"
            type="radio"
            value="external"
          />
          <label aria-checked="false" class="govuk-label govuk-radios__label" for="user-type-2">
            I work with the HM Courts and Tribunals Service
          </label>
          <div id="sign-in-item-hint-external" class="govuk-hint govuk-radios__hint">
            I have an account for DARTS through my organisation.
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
</form>
