<a [routerLink]="['../']" class="govuk-back-link">Back</a>

<app-validation-error-summary [errors]="validationErrorSummary" />

@if (task) {
  <app-govuk-heading size="xl" caption="Automated task">{{ task.name }}</app-govuk-heading>

  @if (edit === 'BATCH_SIZE') {
    <div class="govuk-form-group" [class.govuk-form-group--error]="batchSizeInput.errors && isSubmitted()">
      <label class="govuk-label" for="batch-size">Batch size</label>

      @if (validationErrorSummary.length > 0) {
        <p class="govuk-error-message batch-size-error">
          <span class="govuk-visually-hidden">Error:</span>{{ validationErrorSummary[0].message }}
        </p>
      }

      <input
        class="govuk-input govuk-input--width-4"
        type="text"
        id="batch-size"
        [formControl]="batchSizeInput"
        [class.govuk-input--error]="batchSizeInput.errors && isSubmitted()"
      />
    </div>
  } @else {
    <!-- Assume date time change -->
    <form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h2 class="govuk-fieldset__heading" for="date-edit">{{ dateLabel }}</h2>
        <label class="govuk-label govuk-visually-hidden" for="date-edit"> {{ dateLabel }} </label>
      </legend>

      <div class="govuk-form-group" [class.govuk-form-group--error]="batchSizeInput.errors && isSubmitted()">
        @if (validationErrorSummary.length > 0) {
          <p class="govuk-error-message date-edit-error">
            <span class="govuk-visually-hidden">Error:</span>{{ validationErrorSummary[0].message }}
          </p>
        }

        <app-datepicker
          inputId="dateInput"
          ariaLabel="Enter a date in dd/mm/yyyy format"
          [control]="dateForm.controls.dateInput"
          name="dateInput"
          label="Enter a date"
          (dateChange)="dateForm.controls.dateInput.setValue($event)"
        />
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="edit-time">Enter a time</label>

        <app-time-input
          id="timeEditInput"
          idStringPrepend="edit-time"
          formGroupName="timeInput"
          [isSubmitted]="
            !!dateForm.get('timeInput.hours')?.touched &&
            !!dateForm.get('timeInput.minutes')?.touched &&
            !!dateForm.get('timeInput.seconds')?.touched
          "
        />
      </div>
    </form>
  }

  <div class="govuk-button-group">
    <button class="govuk-button" type="submit" (mousedown)="(false)" (click)="onSubmit()">Confirm</button>
    <a [routerLink]="['../']" class="govuk-link">Cancel</a>
  </div>
}
