.govuk-grid-row {
  margin-left: 0px;
  margin-right: 0px;
}

.govuk-grid-column-label-container {
  width: 15%;
  float: left;
}
.govuk-grid-column-one-quarter {
  padding: 0;
}

.time-container {
  padding-left: 30px;
  margin-top: 0.3rem;
}

.date-label {
  padding-top: 2.1rem;
}
