<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Internal Server Error</h1>
        <!-- We should add unique identification for support requests later on -->
        <p class="govuk-body">There was an error during operation.</p>
        <p class="govuk-body">
          Please try again later,
          <a href="#" class="govuk-link">or contact the support team.</a>
        </p>
      </div>
    </div>
  </main>
</div>
