<ng-container *ngIf="case && hearing">
  <div>
    <app-govuk-heading caption="Hearing">{{ hearing.date | luxonDate: 'd MMM y' }}</app-govuk-heading>
    <h2 class="govuk-heading-s">Courthouse</h2>
    <p class="govuk-body">{{ case.courthouse }}</p>
    <h2 class="govuk-heading-s">Courtroom</h2>
    <p class="govuk-body">{{ hearing.courtroom }}</p>
    <h2 class="govuk-heading-s">Judge(s)</h2>
    <p *ngIf="hearing.judges" class="govuk-body">{{ hearing.judges | join }}</p>
  </div>
</ng-container>
