<ng-template #tableTemplatePartial let-row>
  <td class="govuk-table__cell">{{ row.case_number }}</td>
  <td class="govuk-table__cell">{{ row.courthouse_name }}</td>
  <td class="govuk-table__cell">{{ row.hearing_date | date: 'dd MMM yyyy' }}</td>
  <td class="govuk-table__cell">{{ row.transcription_type }}</td>
  <td class="govuk-table__cell">{{ row.requested_ts | date: 'dd MMM yyyy HH:mm' }}</td>
  <td class="govuk-table__cell">
    <span [ngClass]="row.urgency.description === 'Overnight' ? 'moj-badge moj-badge--red' : ''">{{
      row.urgency.description
    }}</span>
  </td>
  <td class="govuk-table__cell">
    <a [routerLink]="['/work', row.transcription_id]">View</a>
  </td>
</ng-template>

<h1 class="govuk-heading-l">Your work</h1>
<ng-container *ngIf="requesterRequests$ | async as requests; else loading">
  <app-tabs>
    <div *tab="'To do'; id: 'todoTab'; count: requests.todoRequests.length">
      <h2 class="govuk-heading-m">To do</h2>
      <app-data-table
        id="todoTable"
        noDataMessage="There are no outstanding transcript requests"
        [rows]="requests.todoRequests"
        [columns]="readyColumns"
        [pagination]="false"
      >
        <ng-template [tableRowTemplate]="requests.todoRequests" let-row>
          <!-- Partial template for duplicated cells -->
          <ng-container *ngTemplateOutlet="tableTemplatePartial; context: { $implicit: row }"></ng-container>
        </ng-template>
      </app-data-table>
    </div>
    <div *tab="'Completed today'; id: 'completedTab'">
      <h2 class="govuk-heading-m">Completed today</h2>
      <app-data-table
        id="completedTable"
        noDataMessage="There are no transcript requests completed today"
        [rows]="requests.completedRequests"
        [columns]="readyColumns"
        [pagination]="false"
      >
        <ng-template [tableRowTemplate]="requests.completedRequests" let-row>
          <!-- Partial template for duplicated cells -->
          <ng-container *ngTemplateOutlet="tableTemplatePartial; context: { $implicit: row }"></ng-container>
        </ng-template>
      </app-data-table>
    </div>
  </app-tabs>
</ng-container>
<ng-template #loading>
  <app-loading text="Loading transcription requests..."></app-loading>
</ng-template>
