<form [formGroup]="form" class="govuk-form" (ngSubmit)="onSubmit()">
  <div class="govuk-form-group">
    <label class="govuk-label" for="fullName">Full name</label>
    <!-- Inline Validation Errors -->
    @for (error of getFormControlErrorMessages('fullName'); track error) {
      <p class="govuk-error-message fullName-error"><span class="govuk-visually-hidden">Error:</span> {{ error }}</p>
    }
    <input
      class="govuk-input"
      type="text"
      id="fullName"
      formControlName="fullName"
      [class.govuk-input--error]="fullNameControl.errors"
    />
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="email">Email</label>
    <!-- Inline Validation Errors -->
    @for (error of getFormControlErrorMessages('email'); track error) {
      <p class="govuk-error-message email-error"><span class="govuk-visually-hidden">Error:</span> {{ error }}</p>
    }
    <input
      class="govuk-input"
      type="email"
      id="email"
      formControlName="email"
      [class.govuk-input--error]="emailControl.errors"
    />
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-visually-hidden">
        <span class="govuk-fieldset__heading">User Status</span>
      </legend>
      <div class="govuk-radios govuk-radios--small govuk-radios--inline">
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            type="radio"
            id="activeUsers"
            value="active"
            formControlName="userStatus"
          />
          <label class="govuk-label govuk-radios__label" for="activeUsers">Active users</label>
        </div>
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            type="radio"
            id="inactiveUsers"
            value="inactive"
            formControlName="userStatus"
          />
          <label class="govuk-label govuk-radios__label" for="inactiveUsers">Inactive users</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" type="radio" id="allUsers" value="all" formControlName="userStatus" />
          <label class="govuk-label govuk-radios__label" for="allUsers">All</label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group">
    <button class="govuk-button" type="submit">Search</button>
    <a class="govuk-link" href="javascript:void(0)" (click)="clearSearch()">Clear search</a>
  </div>
</form>
