<p class="govuk-body">Changing the user's email address will also change their DARTS portal login.</p>

<p id="old-email" class="govuk-body">
  <strong>Previous email address</strong><br />
  {{ oldEmail }}
</p>

<p id="new-email" class="govuk-body">
  <strong>New email address</strong><br />
  {{ newEmail }}
</p>

<div class="govuk-button-group">
  <button id="confirm-button" class="govuk-button" type="button" (click)="confirm.emit()">Yes - continue</button>
  <a class="govuk-link" href="javascript:void(0)" (click)="cancel.emit()">No - cancel</a>
</div>
