@if (user$ | async; as user) {
  @if (isNewUser$ | async) {
    <app-govuk-banner type="success">
      {{ 'User record has been created for ' + user.fullName }}
    </app-govuk-banner>
  }
  @if (isUpdatedUser$ | async) {
    <app-govuk-banner type="success">User updated</app-govuk-banner>
  }
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="user-record-tags govuk-grid-column-one-third">
          <strong class="govuk-tag govuk-tag--green"> User record </strong>

          @if (user.active) {
            <strong class="govuk-tag"> Active user </strong>
          } @else {
            <strong class="govuk-tag govuk-tag--grey"> Inactive </strong>
          }
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">{{ user.fullName }}</h1>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="button-container govuk-button-group">
            <button
              type="submit"
              class="edit-button govuk-button govuk-button--secondary"
              (click)="router.navigate(['admin/users/edit', user.id], { state: { user } })"
            >
              Edit user
            </button>

            @if (!user.active) {
              <button type="submit" class="govuk-button govuk-button--secondary">Activate user</button>
            } @else {
              <button type="submit" class="govuk-button govuk-button--secondary">Deactivate user</button>
            }
          </div>
        </div>
      </div>
      <div class="user-record-dates-container">
        <div id="date-created-container">
          <h3 class="govuk-heading-s">Date created</h3>
          <p class="govuk-body">{{ user.createdAt | luxonDate: 'EEE d MMM yyyy' }}</p>
        </div>
        <div id="last-updated-container">
          <h3 class="govuk-heading-s">Last updated</h3>
          <p class="govuk-body">{{ user.lastModifiedAt | luxonDate: 'EEE d MMM yyyy' }}</p>
        </div>
        <div id="last-active-container">
          <h3 class="govuk-heading-s">Last active</h3>
          @if (user.lastLoginAt) {
            <p class="govuk-body">{{ user.lastLoginAt | luxonDate: 'EEE d MMM yyyy' }}</p>
          }
        </div>
      </div>

      <app-tabs>
        <div *tab="'Details'">
          <app-details-table
            title="Details"
            [details]="{ 'Full name': user.fullName, Email: user.emailAddress, Description: user.description }"
          ></app-details-table>
        </div>

        <div *tab="'Groups'"></div>

        <div *tab="'Transcript Requests'"></div>

        <div *tab="'Audio Files'"></div>
      </app-tabs>
    </main>
  </div>
} @else {
  <app-loading />
}
