@if (user$ | async; as user) {
  @if (isNewUser$ | async) {
    <app-govuk-banner type="success">
      {{ 'User record has been created for ' + user.fullName }}
    </app-govuk-banner>
  }
  @if (isUpdatedUser$ | async) {
    <app-govuk-banner type="success">User updated</app-govuk-banner>
  }
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="user-record-tags govuk-grid-column-one-third">
          <strong class="govuk-tag govuk-tag--green"> User record </strong>

          @if (user.active) {
            <strong class="govuk-tag"> Active user </strong>
          } @else {
            <strong class="govuk-tag govuk-tag--grey"> Inactive </strong>
          }
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">{{ user.fullName }}</h1>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="button-container govuk-button-group">
            <button
              type="submit"
              class="edit-button govuk-button govuk-button--secondary"
              (click)="router.navigate(['admin/users/edit', user.id], { state: { user } })"
            >
              Edit user
            </button>

            @if (!user.active) {
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Activate user
              </button>
            } @else {
              <button type="submit" class="govuk-button govuk-button--secondary">Deactivate user</button>
            }
          </div>
        </div>
      </div>
      <div class="user-record-dates-container">
        <div id="date-created-container">
          <h3 class="govuk-heading-s">Date created</h3>
          <p class="govuk-body">{{ user.createdAt | luxonDate: 'EEE d MMM yyyy' }}</p>
        </div>
        <div id="last-updated-container">
          <h3 class="govuk-heading-s">Last updated</h3>
          <p class="govuk-body">{{ user.lastModifiedAt | luxonDate: 'EEE d MMM yyyy' }}</p>
        </div>
        <div id="last-active-container">
          <h3 class="govuk-heading-s">Last active</h3>
          @if (user.lastLoginAt) {
            <p class="govuk-body">{{ user.lastLoginAt | luxonDate: 'EEE d MMM yyyy' }}</p>
          }
        </div>
      </div>

      <app-tabs>
        <div *tab="'Details'">
          <app-details-table
            title="Details"
            [details]="{ 'Full name': user.fullName, Email: user.emailAddress, Description: user.description }"
          ></app-details-table>
        </div>

        <div *tab="'Groups'">
          <div class="assign-button-container">
            <app-govuk-heading tag="h2" size="m" class="no-margin">Groups</app-govuk-heading>
            <button class="govuk-button">Assign groups</button>
          </div>

          @if (user.securityGroups) {
            <button id="remove-groups-button" type="submit" class="govuk-button govuk-button--secondary">
              Remove groups
            </button>
            <p class="govuk-body selected-group-count">
              {{ selectedGroups.length }} of {{ user.securityGroups.length }} selected
            </p>
            <app-data-table
              id="userGroupTable"
              [columns]="groupColumns"
              [rows]="user.securityGroups"
              [rowSelectable]="true"
              [pageLimit]="15"
              [(selectedRows)]="selectedGroups"
            >
              <ng-template [tableRowTemplate]="user.securityGroups" let-row>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="javascript:void(0)">{{ row.name }}</a>
                </td>
                <td class="govuk-table__cell">{{ row.role?.name }}</td>
              </ng-template>
            </app-data-table>
          } @else {
            <p class="govuk-body">This user is not a member of any groups.</p>
          }
        </div>

        <div *tab="'Transcript Requests'"></div>

        <div *tab="'Audio Files'"></div>
      </app-tabs>
    </main>
  </div>
} @else {
  <app-loading />
}
