<h2 class="govuk-heading-m">
  Are you sure you want to delete {{ rowsToDelete.length > 1 ? 'these items' : 'this item' }}?
</h2>
<app-data-table id="deletionTable" [rows]="rowsToDelete" [columns]="columns">
  <ng-template [tableRowTemplate] let-row>
    <ng-template #tableTemplatePartial let-row>
      <td class="govuk-table__cell">{{ row.caseNumber }}</td>
      <td class="govuk-table__cell">{{ row.courthouse }}</td>
      <td class="govuk-table__cell">{{ row.hearingDate | date: 'dd MMM yyyy' }}</td>
      <td class="govuk-table__cell">{{ row.startTime | date: 'hh:mm:ss' }}</td>
      <td class="govuk-table__cell">{{ row.endTime | date: 'hh:mm:ss' }}</td>
      <td class="govuk-table__cell">{{ row.requestId }}</td>
      <td class="govuk-table__cell">{{ row.expiry | date: 'hh:mm:ss dd/MM/yyyy' }}</td>
    </ng-template>

    <td class="govuk-table__cell">
      <strong class="govuk-tag" [ngClass]="row.status === 'COMPLETED' ? 'govuk-tag--green' : 'govuk-tag--grey'">
        {{ row.status === 'COMPLETED' ? 'READY' : row.status }}
      </strong>
    </td>
  </ng-template>
</app-data-table>

<div class="govuk-button-group">
  <button class="govuk-button govuk-button--warning" (click)="confirm.emit()">Yes - delete</button>
  <a href="#" (click)="$event.preventDefault(); cancel.emit()" class="govuk-link">Cancel</a>
</div>
