<ng-template #tableTemplatePartial let-row>
  <td class="govuk-table__cell">{{ row.caseNumber }}</td>
  <td class="govuk-table__cell">{{ row.courthouseName }}</td>
  <td class="govuk-table__cell">{{ row.hearingDate | luxonDate: 'dd MMM yyyy' }}</td>
  <td class="govuk-table__cell">{{ row.transcriptionType }}</td>
  <td class="govuk-table__cell">{{ row.requestedTs | luxonDate: 'dd MMM yyyy HH:mm' }}</td>
  <td class="govuk-table__cell">
    <span [ngClass]="row.urgency.description === 'Overnight' ? 'moj-badge moj-badge--red' : ''">{{
      row.urgency.description
    }}</span>
  </td>
  <td class="govuk-table__cell">
    <a class="govuk-link" [routerLink]="['/work', row.transcriptionId]">View</a>
  </td>
</ng-template>

<h1 class="govuk-heading-l">Your work</h1>
<ng-container *ngIf="requesterRequests$ | async as requests; else loading">
  <app-tabs>
    <div *tab="'To do'; id: 'todo-tab'; count: requests.todoRequests.length">
      <h2 class="govuk-heading-m">To do</h2>
      <app-data-table
        id="todoTable"
        noDataMessage="There are no outstanding transcript requests"
        [rows]="requests.todoRequests"
        [columns]="readyColumns"
        [pagination]="false"
      >
        <ng-template [tableRowTemplate]="requests.todoRequests" let-row>
          <!-- Partial template for duplicated cells -->
          <ng-container *ngTemplateOutlet="tableTemplatePartial; context: { $implicit: row }"></ng-container>
        </ng-template>
      </app-data-table>
    </div>
    <div *tab="'Completed today'; id: 'completed-tab'">
      <h2 class="govuk-heading-m" tabindex="0">Completed today</h2>
      <app-data-table
        id="completedTable"
        noDataMessage="There are no transcript requests completed today"
        [rows]="requests.completedRequests"
        [columns]="readyColumns"
        [pagination]="false"
      >
        <ng-template [tableRowTemplate]="requests.completedRequests" let-row>
          <!-- Partial template for duplicated cells -->
          <ng-container *ngTemplateOutlet="tableTemplatePartial; context: { $implicit: row }"></ng-container>
        </ng-template>
      </app-data-table>
    </div>
  </app-tabs>
</ng-container>
<ng-template #loading>
  <app-loading text="Loading transcription requests..."></app-loading>
</ng-template>
