<app-govuk-heading>Your work</app-govuk-heading>

@if (requesterRequests$ | async; as requests) {
  <app-tabs [(default)]="tab" (tabChange)="onTabChange($event)">
    <div *tab="'To do'; id: 'todo-tab'; count: requests.todoRequests.length">
      <h2 class="govuk-heading-m">To do</h2>
      <app-data-table
        id="todoTable"
        noDataMessage="There are no outstanding transcript requests"
        [rows]="requests.todoRequests"
        [columns]="readyColumns"
        [pagination]="false"
      >
        <ng-template [tableRowTemplate]="requests.todoRequests" let-row>
          <td>{{ row.caseNumber }}</td>
          <td>{{ row.courthouseName }}</td>
          <td>{{ row.hearingDate | luxonDate: 'dd MMM yyyy' }}</td>
          <td>{{ row.transcriptionType }}</td>
          <td>{{ row.requestedTs | luxonDate: 'dd MMM yyyy HH:mm' }}</td>
          <td>
            <span [ngClass]="row.urgency.description === 'Overnight' ? 'moj-badge moj-badge--red' : ''">{{
              row.urgency.description
            }}</span>
          </td>
          <td>
            <a class="govuk-link" [routerLink]="['/work', row.transcriptionId]" [state]="{ requestStatus: 'TO_DO' }"
              >View</a
            >
          </td>
        </ng-template>
      </app-data-table>
    </div>
    <div *tab="'Completed today'; id: 'completed-tab'">
      <h2 class="govuk-heading-m" tabindex="0">Completed today</h2>
      <app-data-table
        id="completedTable"
        noDataMessage="There are no transcript requests completed today"
        [rows]="requests.completedRequests"
        [columns]="readyColumns"
        [pagination]="false"
      >
        <ng-template [tableRowTemplate]="requests.completedRequests" let-row>
          <td>{{ row.caseNumber }}</td>
          <td>{{ row.courthouseName }}</td>
          <td>{{ row.hearingDate | luxonDate: 'dd MMM yyyy' }}</td>
          <td>{{ row.transcriptionType }}</td>
          <td>{{ row.requestedTs | luxonDate: 'dd MMM yyyy HH:mm' }}</td>
          <td>
            <span [ngClass]="row.urgency.description === 'Overnight' ? 'moj-badge moj-badge--red' : ''">{{
              row.urgency.description
            }}</span>
          </td>
          <td>
            <a class="govuk-link" [routerLink]="['/work', row.transcriptionId]" [state]="{ requestStatus: 'COMPLETED' }"
              >View</a
            >
          </td>
        </ng-template>
      </app-data-table>
    </div>
  </app-tabs>
} @else {
  <app-loading text="Loading transcription requests..."></app-loading>
}
