nodejs:
  applicationPort: 3000
  image: 'sdshmctspublic.azurecr.io/darts/portal:latest'
  ingressHost: darts-portal.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: darts
  keyVaults:
    darts:
      secrets:
        - AppInsightsInstrumentationKey
        - redis-connection-string
        - middleware-secret
  environment:
    ALLOW_CONFIG_MUTATIONS: true
    DARTS_PORTAL_URL: https://darts-portal.{{ .Values.global.environment }}.platform.hmcts.net
    DARTS_API_URL: https://darts-api.{{ .Values.global.environment }}.platform.hmcts.net
    DARTS_AZUREAD_B2C_ORIGIN_HOST: https://hmctsdartsb2csbox.b2clogin.com
