<ng-container *ngIf="data$ | async as vm; else loading">
  <app-breadcrumb *ngIf="state === 'Default'">
    <ng-container *breadcrumb="['/case', vm.case.id.toString()]">{{ vm.case.number }}</ng-container>
    <ng-container *breadcrumb>{{ vm.hearing?.date | luxonDate: 'd MMM y' }}</ng-container>
  </app-breadcrumb>

  <!-- Validation Error Summary Component -->
  <app-validation-error-summary [errors]="errorSummary"></app-validation-error-summary>

  <!-- Back Button -->
  <a href="#" *ngIf="state === 'OrderSummary'" (click)="onBack($event)" class="govuk-back-link">Back</a>

  @if (state !== 'OrderFailure') {
    <app-reporting-restriction
      [restrictions]="vm.case.reportingRestrictions"
      [hearingId]="vm.hearing?.id"
    ></app-reporting-restriction>
  }
  <ng-container *ngIf="vm.error">
    <ng-container *ngIf="vm.error.status === 403 && state === 'OrderFailure'">
      <app-forbidden header="You do not have permission to get audio for this courthouse." />
    </ng-container>
    <ng-container *ngIf="vm.error.status === 409 && state === 'OrderFailure'">
      <h1 id="conflict-heading" class="govuk-heading-xl govuk-!-margin-bottom-8">You cannot order this audio</h1>
      <p id="conflict-body-1" class="govuk-body">You have already ordered this audio and the request is 'pending'.</p>
      <p id="conflict-body-2" class="govuk-body">
        You'll be able to order it when the order is marked as 'complete' in Your Audio.
      </p>
    </ng-container>
  </ng-container>

  <div [hidden]="state !== 'Default'">
    <app-hearing-file [case]="vm.case" [hearing]="vm.hearing"></app-hearing-file>
    <app-tabs [default]="defaultTab">
      <div *tab="'Events and Audio'">
        <!-- Hearing Screen -->

        <h2 id="events-audio-heading" class="govuk-heading-m">Events and audio recordings</h2>

        <app-request-playback-audio
          [hearing]="vm.hearing!"
          [audioTimes]="audioTimes"
          [userState]="userState"
          (audioRequest)="onAudioRequest($event)"
          (validationErrorEvent)="onValidationError($event)"
        ></app-request-playback-audio>

        <!-- Events & Audio Table-->
        <app-events-and-audio
          [audio]="vm.audios"
          [events]="vm.events"
          (eventsSelect)="onEventsSelected($event)"
        ></app-events-and-audio>
      </div>
      <ng-container *ngIf="transcripts$ | async as transcripts">
        <div *tab="'Transcripts'; count: transcripts.length; id: 'transcription-count'">
          <div class="flex-space-between">
            <h2 class="govuk-heading-m">Transcripts for this hearing</h2>
            <button
              class="govuk-button govuk-button--secondary"
              data-module="govuk-button"
              routerLink="./request-transcript"
            >
              Request a new transcript
            </button>
          </div>

          <app-data-table
            id="transcriptsTable"
            [rows]="transcripts"
            [columns]="transcriptColumns"
            noDataMessage="There are no transcripts for this hearing."
          >
            <ng-template [tableRowTemplate]="transcripts" let-row>
              <td class="govuk-table__cell">{{ row.type }}</td>
              <td class="govuk-table__cell">{{ row.requestedOn | luxonDate: 'dd MMM yyyy HH:mm:ss' }}</td>
              <td class="govuk-table__cell">{{ row.requestedBy }}</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag" [ngClass]="statusTagStyleMap[row.status]">
                  {{ row.status }}
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" *ngIf="row.status === 'Complete'" [routerLink]="['transcripts', row.id]">View</a>
              </td>
            </ng-template>
          </app-data-table>
        </div>
        @if (vm.annotations) {
          <div *tab="'Annotations'; id: 'annotation-count'; count: vm.annotations.length">
            <div class="flex-space-between">
              <h2 class="govuk-heading-m">Annotations</h2>
            </div>
            <div class="govuk-button-group">
              <button
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button"
                [routerLink]="['./add-annotation']"
              >
                Upload annotation
              </button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Download annotation template
              </button>
            </div>

            <app-data-table
              id="annotationsTable"
              [rows]="vm.annotations"
              [columns]="annotationColumns"
              noDataMessage="There are no annotations for this hearing."
            >
              <ng-template [tableRowTemplate]="vm.annotations" let-row>
                <td class="govuk-table__cell">{{ row.fileName }}</td>
                <td class="govuk-table__cell">
                  {{ row.fileType === 'DOC' || 'DOCX' ? 'Word Document' : '-' }}
                </td>
                <td class="govuk-table__cell">
                  {{ row.uploadedTs | luxonDate: 'dd MMM yyyy' }}
                </td>
                <td class="govuk-table__cell">{{ row.annotationText }}</td>
                <td class="govuk-table__cell">
                  <a
                    class="govuk-link"
                    href="javascript:void(0)"
                    (click)="onDownloadClicked(row.annotationId, row.annotationDocumentId, row.fileName)"
                    >Download</a
                  >
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="javascript:void(0)" (click)="onDeleteClicked()">Delete</a>
                </td>
              </ng-template>
            </app-data-table>
          </div>
        }
      </ng-container>
    </app-tabs>
  </div>

  <!-- Summary / Confirmation Screen -->
  <div
    [hidden]="state !== 'OrderConfirmation' && state !== 'OrderSummary' && state !== 'OrderFailure'"
    class="order-confirmation margin-top"
  >
    <app-order-confirmation
      [case]="vm.case"
      [hearing]="vm.hearing"
      [audioRequest]="requestObject"
      [requestId]="requestId"
      [state]="state"
      [userState]="userState"
      (stateChange)="onStateChanged($event)"
      (orderConfirm)="onOrderConfirm($event)"
    ></app-order-confirmation>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading text="Loading hearing details..."></app-loading>
</ng-template>
