<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GOV.UK - The best place to find government services and information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#0b0c0c" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="shortcut icon"
      sizes="16x16 32x32 48x48"
      href="{{hostname}}/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="mask-icon" href="{{hostname}}/assets/images/govuk-mask-icon.svg" color="#0b0c0c" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{hostname}}/assets/images/govuk-apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="{{hostname}}/assets/images/govuk-apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{hostname}}/assets/images/govuk-apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="{{hostname}}/assets/images/govuk-apple-touch-icon.png" />
    <link href="{{hostname}}/assets/stylesheets/govuk-frontend-4.6.0.min.css" rel="stylesheet" />
    {% if screen === 'loginScreen' %}
    <link href="{{hostname}}/assets/stylesheets/login.css" rel="stylesheet" />
    {% endif %} {% if screen === 'resetPassword' %}
    <link href="{{hostname}}/assets/stylesheets/reset-password.css" rel="stylesheet" />
    {% endif %}
    <link href="{{hostname}}/assets/stylesheets/create-new-password.css" rel="stylesheet" />
    <style>
      body {
        margin: 0;
        background-color: #fff;
      }

      html {
        background-color: #f3f2f1;
      }
    </style>
  </head>

  <body>
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <header class="govuk-header" role="banner" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="/" class="govuk-header__link govuk-header__link--homepage">
            <span class="govuk-header__logotype">
              <img
                src="{{hostname}}/assets/images/govuk-crest-white.png"
                height="30"
                width="36"
                class="govuk-header__logotype-crown-fallback-image"
              />
              <span class="govuk-header__logotype-text"> HMCTS <span style="font-weight: normal">DARTS</span></span>
            </span>
          </a>
        </div>
      </div>
    </header>
    <div class="govuk-width-container">
      <!-- Azure API -->
<div id="api" data-name="SelfAsserted">
      <div class="heading">
        <h1 role="heading">User Details</h1>
      </div>
    <div class="buttons">
    </div>
    <div class="intro">
      <p>Please provide the following details.</p>
    </div>
    <form id="attributeVerification" action="JavaScript:void(0);">
        <div id="requiredFieldMissing" class="error pageLevel" style="display: none;" aria-hidden="true">A required field is missing. Please fill out all required fields and try again.</div>
        <div id="fieldIncorrect" class="error pageLevel" style="display: none;" aria-hidden="true">One or more fields are filled out incorrectly. Please check your entries and try again.</div>
        <div id="claimVerificationServerError" class="error pageLevel" style="display: none;" aria-hidden="true"></div>
        <div id="attributeList" class="attr">
            <ul>
                <li class="Password newPassword_li"><div class="attrEntry"><label id="newPassword_label" for="newPassword">New Password*</label><div class="error itemLevel" role="alert"></div><input id="newPassword" class="textInput" type="password" placeholder="New Password" title="Enter new password" autocomplete="new-password" aria-required="true" autofocus="autofocus"><a class="helpLink tiny" href="javascript:void(0)" data-help="Enter new password">What is this?</a></div></li>
                <li class="Password reenterPassword_li"><div class="attrEntry"><label id="reenterPassword_label" for="reenterPassword">Confirm New Password*</label><div class="error itemLevel" role="alert"></div><input id="reenterPassword" class="textInput" type="password" placeholder="Confirm New Password" title="Confirm new password" autocomplete="new-password" aria-required="true"><a class="helpLink tiny" href="javascript:void(0)" data-help="Confirm new password">What is this?</a></div></li>
            </ul>
        </div>
        <div class="buttons">
            <button id="continue" type="submit" form="attributeVerification" aria-disabled="false" aria-label="Continue">Continue</button><button id="cancel" aria-label="Cancel" formnovalidate="">Cancel</button>
        </div>

        <div class="verifying-modal" aria-live="assertive" aria-labelledby="verifying_blurb">
            <div id="verifying_blurb"></div>
        </div>
    </form>
    
  </div>    
</div>

    {% if screen === 'loginScreen' %}
    <div class="govuk-width-container">
      <p id="outroText" class="outro">
        This sign in page is for users who do not work for HMCTS.<br />
        <a id="dedicatedPage" href="#">There is a dedicated page for HMCTS employees to sign into the portal.</a>
      </p>
    </div>
    {% endif %}

    <footer class="govuk-footer" role="contentinfo">
      <div class="govuk-width-container">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <img
              src="{{hostname}}/assets/images/licence-logo.png"
              height="17"
              width="41"
              class="govuk-footer__licence-logo"
            />
            <span class="govuk-footer__licence-description">
              All content is available under the
              <a
                class="govuk-footer__link"
                href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                rel="license"
                >Open Government Licence v3.0</a
              >, except where otherwise stated
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a
              class="govuk-footer__link govuk-footer__copyright-logo"
              href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
              >© Crown copyright</a
            >
          </div>
        </div>
      </div>
    </footer>
    {% if screen === 'loginScreen' %}
    <script src="{{hostname}}/assets/javascripts/login.js"></script>
    {% endif %}
    {% if screen === 'resetPassword' %}
    <script src="{{hostname}}/assets/javascripts/reset-password.js"></script>
    {% endif %}
  </body>
</html>
