<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Azure AD Login</title>
  </head>
  <body style="text-align: center; margin-top: 100px">
    <div id="api">
      <h1>Login</h1>
      <div style="padding: 10px 0">
        <label style="width: 90px; display: inline-block" for="username">Username</label>
        <input id="username" name="username" type="text" />
      </div>
      <div style="padding: 10px 0">
        <label style="width: 90px; display: inline-block" for="password">Password</label>
        <input id="password" name="password" type="password" />
      </div>
      <div style="padding: 10px 0">
        <input id="password" name="password" type="button" value="Submit" />
      </div>
    </div>
  </body>
</html>
