<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GOV.UK - The best place to find government services and information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#0b0c0c" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="shortcut icon"
      sizes="16x16 32x32 48x48"
      href="{{hostname}}/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="mask-icon" href="{{hostname}}/assets/images/govuk-mask-icon.svg" color="#0b0c0c" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{hostname}}/assets/images/govuk-apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="{{hostname}}/assets/images/govuk-apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{hostname}}/assets/images/govuk-apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="{{hostname}}/assets/images/govuk-apple-touch-icon.png" />
    <link href="{{hostname}}/assets/stylesheets/govuk-frontend-4.6.0.min.css" rel="stylesheet" />
    {% if screen === 'loginScreen' %}
    <link href="{{hostname}}/assets/stylesheets/login.css" rel="stylesheet" />
    {% endif %}
    {% if screen === 'resetPassword' %}
    <link href="{{hostname}}/assets/stylesheets/reset-password.css" rel="stylesheet" />
    {% endif %}
    {% if screen === 'changePassword' %}
    <link href="{{hostname}}/assets/stylesheets/change-password.css" rel="stylesheet" />
    {% endif %}
    <link href="{{hostname}}/assets/stylesheets/login.css" rel="stylesheet" />
    <style>
      body {
        margin: 0;
        background-color: #fff;
      }

      html {
        background-color: #f3f2f1;
      }
    </style>
  </head>

  <body>
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <header class="govuk-header" role="banner" data-module="govuk-header">
      <div class="govuk-header__container">
        <div class="govuk-width-container">
          <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
              <span class="govuk-header__logotype">
                <img
                  src="{{hostname}}/assets/images/govuk-crest-white.png"
                  height="30"
                  width="36"
                  class="govuk-header__logotype-crown-fallback-image"
                />
                <span class="govuk-header__logotype-text"> HMCTS <span style="font-weight: normal">DARTS</span></span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="govuk-width-container">
      <!-- Azure API -->
      <!-- <div id="api"></div> -->

      <!-- start of mock Azure API remember to remove stylesheet in header -->

      <div id="api" data-name="Unified">
        <div class="heading">
          <h1 role="heading">Sign in to the DARTS portal</h1>
        </div>
        <form id="localAccountForm" action="JavaScript:void(0);" class="localAccount" aria-label="">
          <div class="intro">
            <h2 aria-level="1">

            </h2>
          </div>
          <div class="error pageLevel" aria-hidden="true" role="alert" style="display: none;">
            <p></p>
          </div>
          <div class="entry">
            <div class="entry-item">
              <label for="email">
                Email Address
              </label>
              <div class="error itemLevel" aria-hidden="true" role="alert" style="display: none;">
                <p></p>
              </div>
              <input type="email" id="email" name="Email Address" title="Please enter a valid email address" pattern="^[a-zA-Z0-9!#$%&amp;'+^_`{}~-]+(?:\.[a-zA-Z0-9!#$%&amp;'+^_`{}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$" autofocus="" placeholder="Email Address" aria-label="Email Address" tabindex="1">
            </div>
            <div class="entry-item">
              <div class="password-label">
                <label for="password">Enter your password</label>
                <a id="forgotPassword" href="/hmctsdartsb2csbox.onmicrosoft.com/B2C_1_darts_externaluser_signin/api/CombinedSigninAndSignup/unified?claimsexchange=ForgotPassword&amp;csrf_token=ZlJJYWlWTWt6ekhSRVcxWWUwa291RHVXaTU5Y0NncU9PNVlPQjJjY1MwdXA5cWFnQ0pQWTZBZExka1U1UW8xWVJhb21ieXgvb0pGTWU1RFNtNERqYWc9PTsyMDIzLTA3LTMxVDA5OjU1OjA2LjQ3NzQxMjNaO2RIeTRhNTJld1hWdXJOQ000VndTWUE9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&amp;tx=StateProperties=eyJUSUQiOiJlMjg2OWIwNC1mMDA3LTRmMmUtOGI2OS02MGUwOGM5MWUzMjgifQ&amp;p=B2C_1_darts_externaluser_signin" tabindex="3">Forgotten your password?</a>
              </div>
              <p class="govuk-body">Jump to <a href="#" class="govuk-link">Forgotten your password?</a></p>
              <div class="error itemLevel" aria-hidden="true" style="display: none;">
                <p role="alert"></p>
              </div>
              <input type="password" id="password" name="Enter your password" placeholder="Enter your password" aria-label="Enter your password" autocomplete="current-password" aria-required="true" tabindex="2">
            </div>
            <div class="working"></div>


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="rememberMe" name="rememberMe" type="checkbox" value="rememberMe">
                    <label class="govuk-label govuk-checkboxes__label" for="rememberMe">
                      Keep me signed in
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- end of mock Azure API -->
    </div>

    {% if screen === 'loginScreen' %}
    <div class="govuk-width-container">
      <p id="outroText" class="outro">
        This sign in page is for users who do not work for HMCTS.<br />
        <a id="dedicatedPage" href="#">There is a dedicated page for HMCTS employees to sign into the portal.</a>
      </p>
    </div>
    {% endif %}

    <footer class="govuk-footer" role="contentinfo">
      <div class="govuk-width-container">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <img
              src="{{hostname}}/assets/images/licence-logo.png"
              height="17"
              width="41"
              class="govuk-footer__licence-logo"
            />
            <span class="govuk-footer__licence-description">
              All content is available under the
              <a
                class="govuk-footer__link"
                href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                rel="license"
                >Open Government Licence v3.0</a
              >, except where otherwise stated
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a
              class="govuk-footer__link govuk-footer__copyright-logo"
              href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
              >© Crown copyright</a
            >
          </div>
        </div>
      </div>
    </footer>
    {% if screen === 'loginScreen' %}
    <script src="{{hostname}}/assets/javascripts/login.js"></script>
    {% endif %}
    {% if screen === 'resetPassword' %}
    <script src="{{hostname}}/assets/javascripts/reset-password.js"></script>
    {% endif %}
    {% if screen === 'changePassword' %}
    <script src="{{hostname}}/assets/javascripts/change-password.js"></script>
    {% endif %}
  </body>
</html>
