<app-data-table [columns]="columns" [rows]="rows()">
  <ng-template [tableRowTemplate]="rows()" let-row>
    <td class="case-id">
      <a class="govuk-link" [routerLink]="['/case', row.caseId]"> {{ row.caseNumber }}</a>
    </td>
    <td class="hearing-date">
      <a class="govuk-link" [routerLink]="['/case', row.caseId, 'hearing', row.hearingId]"
        >{{ row.hearingDate | luxonDate: 'dd MMM yyyy' }}
      </a>
    </td>
    <td class="defendants">{{ row.defendants | join }}</td>
    <td class="judges">{{ row.judges | join }}</td>
  </ng-template>
</app-data-table>
