<h1 class="govuk-heading-l">Check retention date change</h1>
<div class="govuk-form-group">
  <ng-container>
    <app-details-table title="Case details" [details]="caseDetails"></app-details-table>
  </ng-container>
  <ng-container>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Change case retention date
      </caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Retain case until</th>
          <td id="retain-date" class="govuk-table__cell table-width">
            {{ newRetentionDate | date: 'dd MMM yyyy' }}
          </td>
          <td class="govuk-table__cell"><a href="#" id="date-link" (click)="onReturnDate($event)">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Reason for change</th>
          <td id="retain-reason" class="govuk-table__cell table-width">{{ newRetentionReason }}</td>
          <td class="govuk-table__cell"><a href="#" id="reason-link" (click)="onReturnReason($event)">Change</a></td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <div class="govuk-button-group">
    <button class="govuk-button" id="continue-button" data-module="govuk-button" (click)="onConfirm()">
      Confirm retention date change
    </button>
    <a href="#" (click)="onCancel($event)" id="cancel-link" class="govuk-link">Cancel</a>
  </div>
</div>
