<ng-container *ngIf="caseFile$ | async as caseFile">
  <!-- Breadcrumbs -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a routerLink="../../search" class="govuk-breadcrumbs__link">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a [routerLink]="['/case/', caseFile.case_id]" class="govuk-breadcrumbs__link">{{ caseFile.case_number }}</a>
      </li>
    </ol>
  </div>
  <app-case-file [caseFile]="caseFile"></app-case-file>
  <app-hearing-results *ngIf="hearings$ | async as hearings" [hearings]="hearings"></app-hearing-results>
</ng-container>
