<h1 class="govuk-heading-l">Change case retention date</h1>
<!-- Validation Error Summary Component -->
<app-validation-error-summary [errors]="errors"></app-validation-error-summary>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Select a new retention date</h1>
    </legend>
    <!-- Error message if date invalid -->
    <div *ngIf="isOptionInvalid()" id="retention-option-errors">
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ errorNoOption }}</p>
    </div>
    <div
      id="change-radios"
      class="govuk-radios govuk-details"
      data-module="govuk-radios"
      [class.govuk-form-group--error]="isOptionInvalid()"
    >
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="retention-option-date"
          name="retentionOptions"
          type="radio"
          [formControl]="retainOptionFormControl"
          (click)="onChangeOption()"
          value="date"
        />
        <label class="govuk-label govuk-radios__label" for="retention-option-date">Retain until a specific date</label>
      </div>
      <div
        *ngIf="retainOptionFormControl.value === 'date'"
        class="govuk-form-group"
        [class.govuk-details__text]="!isDateInvalid()"
        [class.govuk-form-group--error]="isDateInvalid()"
        id="change-date"
        (change)="onChangeDate()"
      >
        <app-datepicker
          inputId="retention-date"
          name="retention-date"
          label="Enter a date to retain the case until"
          hint="Use dd/mm/yyyy format. For example, 31/01/2023."
          [errors]="[errorDate]"
          (dateChange)="setDateValue($event)"
          [control]="retainDateFormControl"
        />
      </div>
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="retention-option-permanent"
          name="retentionOptions"
          type="radio"
          [formControl]="retainOptionFormControl"
          (click)="onChangeOption()"
          value="permanent"
        />
        <label class="govuk-label govuk-radios__label" for="retention-option-permanent"
          >Retain permanently (99 years)</label
        >
      </div>
    </div>
    <div class="govuk-form-group reason-box" [class.govuk-form-group--error]="isReasonInvalid()">
      <label class="govuk-label govuk-!-font-weight-bold" for="change-reason">Why are you making this change?</label>
      <p class="govuk-hint">If you have a service now incident number, include it here.</p>
      <!-- Error message if reason invalid -->
      <div *ngIf="isReasonInvalid()" id="change-reason-errors">
        <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ errorNoReason }}</p>
      </div>
      <app-govuk-textarea
        [id]="'change-reason'"
        [name]="'reason'"
        [ariaDescribedBy]="'change-reason-hint'"
        [control]="retainReasonFormControl"
        [maxCharacterLimit]="retentionCharacterLimit"
        [isInvalid]="isReasonInvalid()"
      ></app-govuk-textarea>
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button" id="continue-button" data-module="govuk-button" (click)="onConfirm()">
        Continue
      </button>
      <a href="#" (click)="onCancel($event)" class="govuk-link">Cancel</a>
    </div>
  </fieldset>
</div>
