<app-data-table
  caption="Associated audio based on time and location"
  [hiddenCaption]="true"
  [rowSelectable]="rowSelect"
  [columns]="columns"
  [rows]="rows()"
  [(selectedRows)]="selectedRows"
>
  <ng-template [tableRowTemplate]="rows()" let-row>
    <td class="audio-id">
      <a
        class="govuk-link"
        [routerLink]="['/admin/audio-file', row.id]"
        [state]="{ mediaId: transformedMediaId }"
        [queryParams]="{ backUrl: router.url }"
      >
        {{ row.id }}
      </a>
    </td>
    <td class="courthouse">{{ row.courthouseName }}</td>
    <td class="courtroom">{{ row.courtroomName }}</td>
    <td class="start-time">{{ row.startAt | luxonDate: 'd MMM yyyy HH:mm:ss' }}</td>
    <td class="end-time">{{ row.endAt | luxonDate: 'd MMM yyyy HH:mm:ss' }}</td>
    <td class="channel">{{ row.channel }}</td>
    <td class="is-current">{{ row.isCurrent ? 'Yes' : 'No' }}</td>
  </ng-template>
</app-data-table>
