@if (error$ | async; as error) {
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          @if (!error.display || error.display === 'PAGE') {
            <h1 class="govuk-heading-l" role="alert">There is a problem with the service</h1>
          }
          @if (error.display === 'COMPONENT') {
            <h2 class="govuk-heading-l" role="alert">An error has occurred.</h2>
          }
          <!-- We should add unique identification for support requests later on -->
          <p class="govuk-body">
            Try again or
            <a href="mailto:{{ support?.emailAddress }}" class="govuk-link">contact {{ support?.name }}</a> if the
            problem persists
          </p>
        </div>
      </div>
    </main>
  </div>
} @else {
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l" role="alert">There is a problem with the service</h1>
          <p class="govuk-body">
            Try again or
            <a href="mailto:{{ support?.emailAddress }}" class="govuk-link">contact {{ support?.name }}</a> if the
            problem persists
          </p>
        </div>
      </div>
    </main>
  </div>
}
