<ng-container *ngIf="error$ | async as error; else defaultContent">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 *ngIf="!error.display || error.display === 'PAGE'" class="govuk-heading-l">
            There is a problem with the service
          </h1>
          <h2 *ngIf="error.display === 'COMPONENT'" class="govuk-heading-l">An error has occurred.</h2>
          <!-- We should add unique identification for support requests later on -->
          <p class="govuk-body">
            Try again or
            <a href="mailto:{{ support?.emailAddress }}" class="govuk-link">contact {{ support?.name }}</a> if the
            problem persists
          </p>
        </div>
      </div>
    </main>
  </div>
</ng-container>
<ng-template #defaultContent>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">There is a problem with the service</h1>
          <p class="govuk-body">
            Try again or
            <a href="mailto:{{ support?.emailAddress }}" class="govuk-link">contact {{ support?.name }}</a> if the
            problem persists
          </p>
        </div>
      </div>
    </main>
  </div>
</ng-template>
