.govuk-button {
  margin-bottom: 0;
}

.govuk-table__cell {
  vertical-align: middle;
  padding: 10px;
}

.govuk-table__header {
  vertical-align: middle;
}

.govuk-checkboxes--small .govuk-checkboxes__item {
  min-height: 40px;
  margin-left: 10px;
}

.preview-audio-container {
  display: flex;
}

.govuk-heading-s {
  display: inline-block;
}

.no-top-border td {
  border-top: none;
}

.no-bottom-border td {
  border-bottom: none;
}
