<ng-container *ngIf="vm$ | async as vm; else loading">
  <app-breadcrumb *ngIf="state === 'Default' || state === 'Success'">
    <ng-container *breadcrumb="['/search']">Search</ng-container>
    <ng-container *breadcrumb="['/case', vm.caseDetails.case_id.toString()]">{{
      vm.caseDetails.case_number
    }}</ng-container>
    <ng-container *breadcrumb>Case retention date</ng-container>
  </app-breadcrumb>
  <ng-container *ngIf="state === 'Default' || state === 'Success'">
    <app-notification-banner
      *ngIf="!infoBannerHide(vm.retentionHistory)"
      heading="This case is still open or was recently closed."
      body="The retention date for this case cannot be changed while the case is open or while a retention policy is
    currently pending."
    ></app-notification-banner>
    <app-govuk-banner *ngIf="state === 'Success'" type="success">Case retention date changed.</app-govuk-banner>
    <app-govuk-heading>Case retention date</app-govuk-heading>

    <app-details-table id="case-details" title="Case details" [details]="vm.caseDetails.details"></app-details-table>

    @if (!vm.caseDetails.currentRetention['Date applied']) {
      <app-govuk-heading tag="h2" size="m">Current retention details</app-govuk-heading>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <p class="govuk-body">A retention policy has yet to be applied to this case.</p>
    } @else {
      <app-details-table
        id="current-retention-details"
        title="Current retention details"
        [details]="vm.caseDetails.currentRetention"
      ></app-details-table>
    }

    @if (!buttonGroupHide(vm.retentionHistory)) {
      <div id="retention-date-buttons" class="govuk-button-group">
        <button
          (click)="changeRetentionDate()"
          id="change-retention-button"
          class="govuk-button"
          data-module="govuk-button"
        >
          Change retention date
        </button>
        <a routerLink="../" routerLinkActive="router-link-active" class="govuk-link">Cancel</a>
      </div>
    }

    <ng-container>
      <h2 class="govuk-heading-m">Retention audit history</h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <app-data-table
        id="retentionTable"
        noDataMessage="No history to show"
        [columns]="columns"
        [rows]="vm.retentionHistory"
      >
        <ng-template [tableRowTemplate]="vm.retentionHistory" let-row>
          <td class="govuk-table__cell">
            {{ row.retentionLastChangedDate | luxonDate: 'dd MMM yyyy HH:mm:ss' }}
          </td>
          <td class="govuk-table__cell">{{ row.retentionDate | luxonDate: 'dd MMM yyyy' }}</td>
          <td class="govuk-table__cell">{{ row.amendedBy }}</td>
          <td class="govuk-table__cell">{{ row.retentionPolicyApplied }}</td>
          <td class="govuk-table__cell">{{ row.comments }}</td>

          <td class="govuk-table__cell">
            <div class="status-cell">
              <strong
                class="govuk-tag"
                [ngClass]="{
                  'govuk-tag--green': row.status === 'COMPLETE',
                  'govuk-tag--yellow': row.status === 'PENDING',
                }"
              >
                {{ row.status }}
              </strong>
            </div>
          </td>
        </ng-template>
      </app-data-table>
    </ng-container>
  </ng-container>
  <!-- Summary / Confirmation Screen -->
  <ng-container *ngIf="state === 'Change' || state === 'Confirm'">
    <div [hidden]="state === 'Confirm'" class="order-confirmation">
      <app-case-retention-change
        [state]="state"
        [caseId]="caseId"
        (stateChange)="onStateChanged($event)"
        (retentionDateChange)="onRetentionDateChanged($event)"
        (retentionReasonChange)="onRetentionReasonChanged($event)"
        (retentionPermanentChange)="onRetentionPermanentChanged($event)"
      ></app-case-retention-change>
    </div>
    <div [hidden]="state === 'Change'" class="order-confirmation">
      <app-case-retention-confirm
        [state]="state"
        [caseId]="caseId"
        [caseNumber]="vm.caseDetails.details['Case ID']"
        [caseCourthouse]="vm.caseDetails.details['Courthouse']"
        [caseDefendants]="vm.caseDetails.details['Defendant(s)']"
        [newRetentionDate]="newRetentionDate"
        [newRetentionReason]="newRetentionReason"
        [newRetentionPermanent]="newRetentionPermanent"
        (stateChange)="onStateChanged($event)"
      ></app-case-retention-confirm>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-loading text="Loading case retention details..."></app-loading>
</ng-template>
