<app-govuk-heading [size]="'m'" [tag]="'h2'">All annotations</app-govuk-heading>

<app-data-table
  id="annotationsTable"
  [rows]="annotations()"
  [columns]="columns"
  [hiddenCaption]="true"
  caption="Annotations associated with case"
  noDataMessage="There are no annotations for this case. Annotations added to hearings will be listed here."
>
  <ng-template [tableRowTemplate]="annotations()" let-row>
    <td>
      <a
        class="govuk-link"
        [routerLink]="['/case', caseId(), 'hearing', row.hearingId]"
        [queryParams]="{ tab: 'Annotations' }"
        >{{ row.hearingDate | luxonDate: 'dd MMM yyyy' }}</a
      >
    </td>
    <td>{{ row.fileName }}</td>
    <td>
      {{ row.fileType === 'DOC' || 'DOCX' ? 'Word Document' : '-' }}
    </td>
    <td>{{ row.uploadedTs | luxonDate: 'dd MMM yyyy' }}</td>
    <td>{{ row.annotationText }}</td>
    <td>
      <a
        href="javascript:void(0)"
        class="govuk-link"
        (click)="onDownloadClicked(row.annotationId, row.annotationDocumentId, row.fileName)"
        >Download</a
      >
    </td>
    <td>
      <a class="govuk-link" href="javascript:void(0)" (click)="onDeleteClicked(row.annotationId)">Delete</a>
    </td>
  </ng-template>
</app-data-table>
