<div class="moj-filter">
  <div class="moj-filter__header">
    <div class="moj-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>

    <div class="moj-filter__header-action"></div>
  </div>

  <div class="moj-filter__content">
    <div class="moj-filter__selected">
      <div class="moj-filter__selected-heading">
        <div class="moj-filter__heading-title">
          <h2 class="govuk-heading-m">Selected filters</h2>
        </div>

        <div class="moj-filter__heading-action clear-filter">
          <p>
            <a class="govuk-link govuk-link--no-visited-state" href="javascript:void(0)" (click)="clearFilters()"
              >Clear filters</a
            >
          </p>
        </div>
      </div>

      <ng-container *ngFor="let selected of selectedFilters">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ selected.name }}</h3>

        <ul class="moj-filter-tags">
          <ng-container *ngFor="let value of selected.values">
            <li>
              <a class="moj-filter__tag" (click)="unselectFromTag(selected, value)"> {{ value }}</a>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>

    <div class="moj-filter__options">
      <button
        type="submit"
        class="govuk-button"
        data-module="govuk-button"
        (click)="emitFilters()"
        data-test-id="submit-button"
      >
        Apply filters
      </button>

      <ng-container *ngFor="let filter of filters">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ filter.name }}</legend>

            <ng-container *ngFor="let value of filter.values; index as $index">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input
                    #checkboxes
                    class="govuk-checkboxes__input"
                    [id]="'type-value-' + $index"
                    [name]="filter.name"
                    type="checkbox"
                    [attr.aria-label]="'Select checkbox value ' + value"
                    [value]="value"
                    (change)="onCheckChanged(filter, value, $event)"
                  />
                  <label class="govuk-label govuk-checkboxes__label" for="type"> {{ value }} </label>
                </div>
              </div>
            </ng-container>
          </fieldset>
        </div>
      </ng-container>
    </div>
  </div>
</div>
