<app-validation-error-summary [errors]="formValidationErrors()" />

<app-govuk-heading>Search</app-govuk-heading>

<app-search-form
  [courthouses]="courthouses()"
  (search)="onSearch($event)"
  [(resultsFor)]="tab"
  (errors)="formValidationErrors.set($event)"
/>

@if (isSubmitted()) {
  <app-govuk-tabs [default]="tab()" (tabChange)="tabChange($event)">
    <app-govuk-heading tabTitle tag="h2" size="s"> {{ tab() }} </app-govuk-heading>
    @if (isLoading()) {
      <app-loading />
    }
    <span error>{{ searchError() }}</span>

    <div *tab="'Cases'">
      @if (cases().length) {
        <app-case-search-results [cases]="cases()" captionType="heading" [showRestrictions]="false" />
      }
      @if (!cases().length && !searchError() && !isLoading()) {
        {{ 'No results found' }}
      }
    </div>
    <div *tab="'Hearings'">
      @if (!searchError()) {
        <app-hearing-search-results [hearings]="hearings()" />
      }
    </div>
    <div *tab="'Events'">
      @if (!searchError()) {
        <app-event-search-results [events]="events()" />
      }
    </div>
    <div *tab="'Audio'">
      <!-- <app-audio-search-results /> -->
    </div>
  </app-govuk-tabs>
}
