<app-validation-error-summary [errors]="formValidationErrors()" />

<app-govuk-heading>Search</app-govuk-heading>

<app-search-form
  [courthouses]="courthouses()"
  [formValues]="searchService.formValues()"
  (search)="onSearch($event)"
  (clear)="searchService.clearSearch()"
  (errors)="onValidationErrors($event)"
/>

@if (searchService.hasFormBeenSubmitted()) {
  <app-govuk-tabs [default]="searchService.formValues().resultsFor" (tabChange)="tabChange($event)">
    <app-govuk-heading tabTitle tag="h2" size="s">
      {{ searchService.formValues().resultsFor }}
    </app-govuk-heading>
    @if (searchService.isLoading()) {
      <app-loading />
    }
    <span error>{{ searchService.searchError() }}</span>

    <div *tab="'Cases'">
      @if (searchService.cases().length) {
        <app-case-search-results
          [adminPortal]="true"
          [cases]="searchService.cases()"
          captionType="heading"
          [showRestrictions]="false"
        />
      }
      @if (!searchService.cases().length && isSearchOk()) {
        {{ 'No results found' }}
      }
    </div>
    <div *tab="'Hearings'">
      @if (isSearchOk()) {
        <app-hearing-search-results [hearings]="searchService.hearings()" />
      }
    </div>
    <div *tab="'Events'">
      @if (isSearchOk()) {
        <app-event-search-results [events]="searchService.events()" />
      }
    </div>
    <div *tab="'Audio'">
      @if (isSearchOk()) {
        <app-audio-search-results [audio]="searchService.audio()" />
      }
    </div>
  </app-govuk-tabs>
}
