<form [formGroup]="form">
  <app-govuk-heading
    >There are other audio files associated with the file you are hiding and/or deleting</app-govuk-heading
  >

  <div [class.govuk-form-group--error]="selectedRows.length === 0 && form.controls.selectedFileChoice && isSubmitted">
    <p class="govuk-body">Select any files that you want to include in this action.</p>

    @if (selectedRows.length === 0 && form.controls.selectedFileChoice && isSubmitted) {
      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error: </span>{{ controlErrors.selectedFiles.required }}
      </p>
    }

    <p class="govuk-heading-m title-underline">The file you are hiding and/or deleting</p>
    <app-associated-audio-table id="hideFileTable" [rowSelect]="false" [hideOrDeleteView]="true" [rows]="audioFile" />

    <p class="govuk-heading-m title-underline">Associated audio files</p>
    <app-associated-audio-table
      id="associatedAudioTable"
      [rowSelect]="true"
      [hideOrDeleteView]="true"
      [rows]="media"
      (selectedRows)="selectedRows = $event"
    />
  </div>

  <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('selectedFileChoice')">
    <div class="govuk-hint">
      <app-govuk-heading>Do you want to include the selected files?</app-govuk-heading>
      The reason for hiding and/or deleting the file, the ticket reference and the comments will be added to all
      selected files.
    </div>

    @for (error of getErrorMessages('selectedFileChoice'); track error) {
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ error }}</p>
    }

    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="do-include"
          formControlName="selectedFileChoice"
          name="selectedFileChoice"
          type="radio"
          [value]="true"
        />
        <label class="govuk-label govuk-radios__label" for="do-include"> Include the files that I have selected </label>
      </div>
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="do-not-include"
          formControlName="selectedFileChoice"
          name="selectedFileChoice"
          type="radio"
          [value]="false"
        />
        <label class="govuk-label govuk-radios__label" for="do-not-include"> Don't include other files </label>
      </div>
    </div>
  </div>
  <div class="govuk-button-group">
    <button class="govuk-button" type="button" (click)="associatedAudioSubmit()">Continue</button>
    <a class="govuk-link" href="javascript:void(0)" (click)="goBack()">Cancel</a>
  </div>
</form>
