<audio
  #audioPlayer
  id="audio-player"
  preload="auto"
  controls
  (canplay)="canPlay = true"
  (pause)="pause.emit()"
  (play)="play.emit()"
  [hidden]="!canPlay"
  (timeupdate)="onTimeUpdate()"
></audio>

<ng-container *ngIf="error$ | async as error">
  <p *ngIf="error.status === 403" class="govuk-body" id="permission-error">
    You do not have permission to preview. If you believe you should have permission
    <a href="mailto:{{ support?.emailAddress }}" class="govuk-link">contact {{ support?.name }}</a>
  </p>
  <p *ngIf="error.status === 404" class="govuk-body" id="not-found-error">Preview not found</p>
  <p *ngIf="error.status === 500" class="govuk-body" id="server-error">
    An error has occurred. Try again or
    <a href="mailto:{{ support?.emailAddress }}" class="govuk-link">contact {{ support?.name }}</a> if the problem
    persists
  </p>
</ng-container>
@if (!canPlay) {
  <p class="govuk-body" id="loading">Loading audio... Please wait</p>
} @else if (!id) {
  <p class="govuk-body" id="no-id-error">No audio source provided</p>
}
