<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">
    {{
      title
    }}
  </caption>
  <!-- Content projection for action button -->
  <td class="details-header" colspan="2"><ng-content></ng-content></td>
  <tbody class="govuk-table__body">
    @for (detail of details | keyvalue: originalOrder; track $index) {
      @if (isNotNullUndefinedOrEmptyString(detail.value) && !isNotNullUndefinedOrEmptyString(detail.key)) {
        <!-- Single column message -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-width">{{ detail.value }}</td>
        </tr>
      } @else if (isNotNullUndefinedOrEmptyString(detail.value)) {
        <tr class="govuk-table__row">
          <th [id]="'detail-th-' + $index" class="govuk-table__header">{{ detail.key }}</th>
          <td class="govuk-table__cell table-width">
            @if (getLinkArray(detail.value).length) {
              @for (item of getLinkArray(detail.value); track item) {
                <a *ngIf="item.href" [href]="item.href" class="govuk-link">{{ item.value }}</a>
                <span *ngIf="!item.href">{{ item }} </span>
                <br *ngIf="item.href" />
              }
            } @else {
              {{ detail.value }}
            }
          </td>
        </tr>
      }
    }
  </tbody>
</table>
