<header>
  <app-govuk-heading tag="h2" size="m">{{ title }}</app-govuk-heading>
  <div><ng-content></ng-content></div>
</header>

<dl class="govuk-summary-list">
  @for (detail of details | keyvalue: originalOrder; track $index) {
    <!-- skip row if value is empty -->
    @if (isNotNullUndefinedOrEmptyString(detail.value)) {
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ detail.key }}
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- check if value is an array of links -->
          @if (getLinkArray(detail.value)?.length) {
            @for (item of getLinkArray(detail.value); track item) {
              @if (item.href) {
                <a [href]="item.href" class="govuk-link">{{ item.value }}</a>
                @if (item.caption) {
                  <span class="value-caption govuk-caption-m"> ({{ item.caption }})</span>
                }
                <br />
              } @else {
                <span>{{ item }} </span>
              }
            }
          } @else {
            <!-- check if value is object.value -->
            {{ getStringValues(detail.value) ?? '-' }}
          }
        </dd>
        <!-- check if value has actions -->
        @if (getAction(detail.value); as action) {
          <dd class="govuk-summary-list__actions">
            @if (action?.url) {
              <a class="govuk-link" [routerLink]="action.url" [fragment]="action.fragment"
                >{{ action.text }}<span class="govuk-visually-hidden"> {{ detail.key }}</span></a
              >
            }
            @if (action?.fn) {
              <a class="govuk-link" (click)="action?.fn()"
                >{{ action.text }}<span class="govuk-visually-hidden"> {{ detail.key }}</span></a
              >
            }
          </dd>
        }
      </div>
    }
  }
</dl>
