:host {
  max-width: 66%;
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  ::ng-deep * {
    margin-bottom: 0.33rem;
  }
}
.margin-top-10 {
  margin-top: 10px;
}
.govuk-summary-list__value {
  white-space: pre-line;
}

a {
  white-space: pre;
}

.details-header {
  text-align: right;
}

.value-caption {
  display: initial;
}
