@if (selectedAnnotationsforDeletion.length) {
  <app-delete
    [numberOfItems]="selectedAnnotationsforDeletion.length"
    (confirm)="onDeleteConfirmed()"
    (cancel)="onDeleteCancelled()"
  >
  </app-delete>
} @else {
  <ng-container *ngIf="caseFile$ | async as caseFile; else loading">
    <app-breadcrumb>
      <ng-container *breadcrumb="['/search']">Search</ng-container>
      <ng-container *breadcrumb>{{ caseFile.number }}</ng-container>
    </app-breadcrumb>

    <app-case-file [caseFile]="caseFile"></app-case-file>
    <app-hearing-results
      *ngIf="data$ | async as data"
      [hearings]="data.hearings"
      [transcripts]="data.transcripts"
      [annotations]="data.annotations"
      (deleteAnnotationEvent)="onDeleteClicked($event)"
    ></app-hearing-results>
  </ng-container>

  <ng-template #loading>
    <app-loading text="Loading case details..."></app-loading>
  </ng-template>
}
