@if (selectedAnnotationsforDeletion.length) {
  <app-delete
    [numberOfItems]="selectedAnnotationsforDeletion.length"
    (confirm)="onDeleteConfirmed()"
    (cancelled)="onDeleteCancelled()"
  />
} @else {
  @if (data$ | async; as data) {
    <app-breadcrumb>
      <ng-container *breadcrumb="['/search']">Search</ng-container>
      <ng-container *breadcrumb
        ><span class="whitespace-pre">{{ data.caseFile.number }}</span></ng-container
      >
    </app-breadcrumb>

    <app-case-file [caseFile]="data.caseFile" />

    @if (!data.caseFile.isDataAnonymised) {
      <app-tabs [(default)]="tab" (tabChange)="onTabChange($event)">
        @if (data.hearings) {
          <app-case-hearings-table *tab="'Hearings'" [hearings]="data.hearings" [caseId]="caseId" />
        }

        <div *tab="'Court log'">
          @if (events()) {
            <app-case-events-table [events]="events()!" [caseId]="caseId" />
          } @else {
            <app-loading text="Loading court log..."></app-loading>
          }
        </div>

        @if (data.transcripts) {
          <app-case-transcripts-table
            *tab="'All Transcripts'; count: data.transcripts.length; id: 'transcripts-tab'"
            [transcripts]="data.transcripts"
          />
        }

        @if (data.annotations) {
          <app-case-annotations-table
            *tab="'All annotations'; count: data.annotations.length; id: 'annotations-tab'"
            [annotations]="data.annotations"
            [caseId]="caseId"
            (deleteAnnotation)="onDeleteAnnotation($event)"
            (downloadAnnotation)="onDownloadAnnotation($event)"
          />
        }
      </app-tabs>
    }
  } @else {
    <app-loading text="Loading case details..."></app-loading>
  }
}
