<app-govuk-heading
  >Are you sure you want to remove
  {{
    userIdsToRemove.length === groupUsers.length
      ? 'all users'
      : userIdsToRemove.length === 1
        ? '1 user'
        : userIdsToRemove.length + ' users'
  }}
  from this group?</app-govuk-heading
>

<div class="govuk-button-group">
  <button id="confirm-button" class="govuk-button" type="button" (click)="removeUsers()">Yes - continue</button>
  <button class="govuk-button govuk-button--secondary" type="button" (click)="cancel()">No - cancel</button>
</div>
