<app-validation-error-summary [errors]="errors" />

@if (isConfirmation) {
  <a href="javascript:void(0)" (click)="onBack()" class="govuk-back-link">Back</a>
}

<app-govuk-heading caption="Create courthouse">
  {{ !this.isConfirmation ? 'Courthouse' : 'Check' }} details
</app-govuk-heading>

<app-create-update-courthouse-form
  (submitForm)="onSubmit($event)"
  (errors)="errors = $event"
  (cancel)="onCancel()"
  [hidden]="!!isConfirmation"
/>

<app-create-update-courthouse-confirmation
  [values]="formValues"
  (back)="onBack()"
  (cancel)="onCancel()"
  [hidden]="!isConfirmation"
/>
