<ng-container *ngIf="vm$ | async as vm; else loading">
  <app-validation-error-summary [errors]="errors" />

  @if (isConfirmation) {
    <a href="javascript:void(0)" (click)="onBack()" class="govuk-back-link">Back</a>
  }

  <app-govuk-heading caption="Create courthouse">
    {{ !this.isConfirmation ? 'Courthouse' : 'Check' }} details
  </app-govuk-heading>

  <app-create-update-courthouse-form
    (submitForm)="onSubmit($event)"
    (errors)="errors = $event"
    (cancel)="onCancel()"
    [hidden]="!!isConfirmation"
    [regions]="vm.regions"
  />

  <app-create-update-courthouse-confirmation
    [values]="formValues"
    (confirm)="onConfirmCourthouseDetails()"
    (back)="onBack()"
    (cancel)="onCancel()"
    [hidden]="!isConfirmation"
    [regions]="vm.regions"
  />
</ng-container>
<ng-template #loading>
  <app-loading text="Loading..."></app-loading>
</ng-template>
