.govuk-grid-column-one-quarter.button {
  display: flex;
  height: 122.5px;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.govuk-grid-column-one-quarter.requestType {
  margin-top: -4px;
}

.error-box-height {
  height: 212.48px;
}

.govuk-grid-column-one-quarter.error-box-button {
  height: 195.5px;
}