<div id="request-audio-playback-hint" class="govuk-hint">
  Select events or audio to set the recording start and end times. You can also manually adjust the times for a custom
  recording.
</div>
<article class="moj-ticket-panel" aria-label="Request Playback Audio">
  <section class="moj-ticket-panel__content" aria-label="Request Playback Audio Section">
    <form [formGroup]="audioRequestForm" (ngSubmit)="onSubmit()">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div
            class="govuk-form-group"
            [ngClass]="{
              'govuk-form-group--error': audioRequestForm.controls['startTime'].invalid && isSubmitted
            }"
          >
            <h3 class="govuk-heading-s">Start Time</h3>
            <p
              *ngIf="audioRequestForm.controls['startTime'].invalid && isSubmitted"
              id="start-time-error"
              class="govuk-error-message"
            >
              <span class="govuk-visually-hidden">Error:</span> You must include a start time for your audio recording
            </p>
            <app-time-input formGroupName="startTime" [isSubmitted]="isSubmitted"></app-time-input>
          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div
            class="govuk-form-group"
            [ngClass]="{ 'govuk-form-group--error': audioRequestForm.controls['endTime'].invalid && isSubmitted }"
          >
            <h3 class="govuk-heading-s">End Time</h3>
            <p
              *ngIf="audioRequestForm.controls['endTime'].invalid && isSubmitted"
              class="end-time-error"
              class="govuk-error-message"
            >
              <span class="govuk-visually-hidden">Error:</span> You must include an end time for your audio recording
            </p>
            <app-time-input formGroupName="endTime" [isSubmitted]="isSubmitted"></app-time-input>
          </div>
        </div>
        <div class="govuk-grid-column-one-quarter requestType">
          <div
            class="govuk-form-group"
            [ngClass]="{
              'govuk-form-group--error error-box-height':
                audioRequestForm.controls['requestType'].invalid && isSubmitted
            }"
          >
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-heading-s">Request Type</h3>
              </legend>
              <p
                *ngIf="audioRequestForm.controls['requestType'].invalid && isSubmitted"
                id="request-type-error"
                class="govuk-error-message"
              >
                <span class="govuk-visually-hidden">Error:</span> You must select a request type
              </p>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="playback-radio"
                    formControlName="requestType"
                    type="radio"
                    value="PLAYBACK"
                  />
                  <label class="govuk-label govuk-radios__label" for="playback-radio"> Playback Only </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="download-radio"
                    formControlName="requestType"
                    type="radio"
                    value="DOWNLOAD"
                  />
                  <label class="govuk-label govuk-radios__label" for="download-radio"> Download </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div
          class="govuk-grid-column-one-quarter button"
          [ngClass]="{ 'error-box-button': audioRequestForm.invalid && isSubmitted }"
        >
          <button type="submit" class="govuk-button" data-module="govuk-button">Get Audio</button>
        </div>
      </div>
    </form>
  </section>
</article>
