<p class="govuk-body">Check the courthouse name carefully, as it must exactly match the name on XHIBIT or CPP.</p>

<app-details-table title="Details" [details]="courthouseDetails">
  @if (!update) {
    <a id="change-link" href="javascript:void(0)" class="govuk-link" (click)="back.emit()">Change</a>
  }
</app-details-table>

<div class="govuk-button-group">
  <button id="confirm-button" class="govuk-button" (click)="confirm.emit()">
    {{ update ? 'Update' : 'Create' }} courthouse
  </button>
  <a id="cancel-link" class="govuk-link" href="javascript:void(0)" (click)="cancel.emit()">Cancel</a>
</div>
