<h3 class="govuk-heading-s">My Audios</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="" />
            <label class="govuk-label govuk-checkboxes__label" for=""></label>
          </div>
        </div>
      </th>
      <th scope="col" class="govuk-table__header">Time</th>
      <th scope="col" class="govuk-table__header">Event</th>
      <th scope="col" class="govuk-table__header">Text</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr tabindex="1" class="govuk-table__row">
      <td scope="row" class="govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input tabindex="2" class="govuk-checkboxes__input" id="" name="" type="checkbox" value="" />
            <label class="govuk-label govuk-checkboxes__label" for=""></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Play Audio</button>
      </td>
      <td class="govuk-table__cell">Start time: 11:04:55</td>
      <td class="govuk-table__cell">End time: 13:04:55</td>
    </tr>

    <tr tabindex="3" class="govuk-table__row">
      <td scope="row" class="govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input tabindex="4" class="govuk-checkboxes__input" id="" name="" type="checkbox" value="" />
            <label class="govuk-label govuk-checkboxes__label" for=""></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">13:06:59</td>
      <td class="govuk-table__cell">Case called on</td>
      <td class="govuk-table__cell">Defendant name: Bullock, Dean. Case Number: T20220001</td>
    </tr>

    <tr tabindex="5" class="govuk-table__row">
      <td scope="row" class="govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input tabindex="6" class="govuk-checkboxes__input" id="" name="" type="checkbox" value="" />
            <label class="govuk-label govuk-checkboxes__label" for=""></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Play Audio</button>
      </td>
      <td class="govuk-table__cell">Start time: 11:04:55</td>
      <td class="govuk-table__cell">End time: 13:04:55</td>
    </tr>

    <tr tabindex="7" class="govuk-table__row">
      <td scope="row" class="govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input tabindex="8" class="govuk-checkboxes__input" id="" name="" type="checkbox" value="carcasses" />
            <label class="govuk-label govuk-checkboxes__label" for=""></label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">13:06:59</td>
      <td class="govuk-table__cell">LOG</td>
      <td class="govuk-table__cell">Defendant name: Bullock, Dean. Case Number: T20220001</td>
    </tr>
  </tbody>
</table>
