<ng-template #tableTemplatePartial let-row>
  <td *ngIf="!isDeleting" class="govuk-table__cell">
    <a [routerLink]="['/case', row.id]"> {{ row.caseNumber }}</a>
  </td>
  <td *ngIf="isDeleting" class="govuk-table__cell">
    {{ row.caseNumber }}
  </td>
  <td class="govuk-table__cell">{{ row.courthouse }}</td>
  <td class="govuk-table__cell">{{ row.hearingDate | date: 'dd MMM yyyy' }}</td>
  <td class="govuk-table__cell">{{ row.startTime | date: 'hh:mm:ss' }}</td>
  <td class="govuk-table__cell">{{ row.endTime | date: 'hh:mm:ss' }}</td>
  <td class="govuk-table__cell">{{ row.requestId }}</td>
  <td class="govuk-table__cell">{{ row.expiry | date: 'hh:mm:ss dd/MM/yyyy' }}</td>
</ng-template>

<ng-container *ngIf="!isDeleting">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="case-search">Your Audio</label>
  </h1>
  <ng-container *ngIf="data$ | async as data; else loading">
    <app-tabs (tabChange)="onTabChanged()">
      <div *tab="'Current'">
        <p *ngIf="!data.inProgessRows.length && !data.completedRows.length" class="govuk-body">
          There are no audio files in progress or ready
        </p>

        <ng-container *ngIf="data.inProgessRows.length">
          <h2 class="govuk-heading-m">In Progress</h2>
          <app-data-table id="inProgressTable" [rows]="data.inProgessRows" [columns]="columns" [pagination]="false">
            <ng-template [tableRowTemplate] let-row>
              <!-- Partial template for duplicated cells -->
              <ng-container *ngTemplateOutlet="tableTemplatePartial; context: { $implicit: row }"></ng-container>

              <td class="govuk-table__cell">
                <strong class="govuk-tag" [ngClass]="row.status === 'FAILED' ? 'govuk-tag--red' : 'govuk-tag--yellow'">
                  {{ row.status }}
                </strong>
              </td>
            </ng-template>
          </app-data-table>
        </ng-container>

        <ng-container *ngIf="data.completedRows.length">
          <h2 class="govuk-heading-m">Ready</h2>
          <div class="action-container">
            <div class="govuk-hint">Select to apply actions</div>
            <button id="delete-button" class="govuk-button govuk-button--secondary" (click)="onDeleteClicked()">
              Delete
            </button>
          </div>
          <app-data-table
            id="readyTable"
            [rows]="data.completedRows"
            [columns]="readyColumns"
            [rowSelectable]="true"
            [pageLimit]="15"
            (rowSelect)="onSelectedAudio($event)"
          >
            <ng-template [tableRowTemplate] let-row>
              <td class="govuk-table__cell">
                <span unreadIcon [class.unread]="!row.last_accessed_ts" *ngIf="!row.last_accessed_ts"> </span>
              </td>
              <!-- Partial template for duplicated cells -->
              <ng-container *ngTemplateOutlet="tableTemplatePartial; context: { $implicit: row }"></ng-container>

              <td class="govuk-table__cell">
                <div class="status-cell">
                  <strong class="govuk-tag govuk-tag--green"> READY </strong>
                </div>
              </td>
              <td class="govuk-table__cell">
                <div class="status-cell">
                  <a [routerLink]="['/audios/', row.requestId]">View</a>
                </div>
              </td></ng-template
            >
          </app-data-table>
        </ng-container>
      </div>

      <div *tab="'Expired'">
        <ng-container *ngIf="data.expiredRows.length">
          <h2 class="govuk-heading-m">Expired</h2>
          <div class="action-container">
            <div class="govuk-hint">Select to apply actions</div>
            <button class="govuk-button govuk-button--secondary" (click)="onDeleteClicked()">Delete</button>
          </div>
          <app-data-table
            id="expiredTable"
            [rows]="data.expiredRows"
            [columns]="columns"
            [rowSelectable]="true"
            (rowSelect)="onSelectedAudio($event)"
          >
            <ng-template [tableRowTemplate] let-row>
              <!-- Partial template for duplicated cells -->
              <ng-container *ngTemplateOutlet="tableTemplatePartial; context: { $implicit: row }"></ng-container>

              <td class="govuk-table__cell">
                <div class="status-cell">
                  <strong class="govuk-tag govuk-tag--grey"> EXPIRED </strong>
                </div>
              </td>
            </ng-template>
          </app-data-table>
        </ng-container>
      </div>
    </app-tabs>
  </ng-container>
</ng-container>

<ng-container *ngIf="isDeleting">
  <p class="govuk-body">
    Are you sure you want to delete {{ selectedAudioRequests.length > 1 ? 'these items' : 'this item' }}?
  </p>
  <app-data-table id="inProgressTable" [rows]="selectedAudioRequests" [columns]="unSortableColumns">
    <ng-template [tableRowTemplate] let-row>
      <!-- Partial template for duplicated cells -->
      <ng-container *ngTemplateOutlet="tableTemplatePartial; context: { $implicit: row }"></ng-container>

      <td class="govuk-table__cell">
        <strong class="govuk-tag" [ngClass]="row.status === 'COMPLETED' ? 'govuk-tag--green' : 'govuk-tag--grey'">
          {{ row.status === 'COMPLETED' ? 'READY' : row.status }}
        </strong>
      </td>
    </ng-template>
  </app-data-table>

  <div class="govuk-button-group">
    <button class="govuk-button govuk-button--warning" (click)="onDeleteConfirmed()">Yes - delete</button>
    <a href="#" (click)="onDeleteCancelled($event)" class="govuk-link">Cancel</a>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading text="Loading audio requests..."></app-loading>
</ng-template>
