@if (eventMapping$ | async; as eventMapping) {
  @if (eventMapping.hasEvents) {
    <app-govuk-heading>You cannot delete this event mapping</app-govuk-heading>

    <p class="govuk-body">This event mapping has been used and can no longer be deleted.</p>

    <p class="govuk-body">
      You can make changes and create a new version, or you can select the event handler 'No mapping'.
    </p>

    <div class="govuk-button-group">
      <a href="#" (click)="$event.preventDefault(); onDeleteCancelled()" class="govuk-link">Go back</a>
    </div>
  } @else {
    <app-delete
      [title]="'Are you sure want to delete this event mapping?'"
      deleteButtonTxt="Yes - delete"
      cancelButtonTxt="No - cancel"
      [isRedDeleteButton]="true"
      (confirm)="onDeleteConfirmed()"
      (cancel)="onDeleteCancelled()"
    >
      <app-data-table id="deletionTable" [rows]="[eventMapping]" [columns]="deleteColumns">
        <ng-template [tableRowTemplate]="[eventMapping]" let-row>
          <td>{{ row.type }}</td>
          <td>{{ row.subType }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.handler }}</td>
          <td>{{ row.hasRestrictions ? 'Yes' : 'No' }}</td>
          <td>{{ row.createdAt | luxonDate: 'dd MMM yyyy' }}</td>
          <td>{{ row.isActive ? 'Active' : 'Inactive' }}</td>
        </ng-template></app-data-table
      >
    </app-delete>
  }
}
