@if (hasPolicyCreated$ | async) {
  <app-govuk-banner type="success">Retention policy created</app-govuk-banner>
}
@if (hasPolicyUpdated$ | async) {
  <app-govuk-banner type="success">Retention policy updated</app-govuk-banner>
}
@if (hasPolicyRevised$ | async) {
  <app-govuk-banner type="success">Retention policy version created</app-govuk-banner>
}

<app-govuk-heading tag="h1" size="xl">System configuration</app-govuk-heading>

<app-tabs [default]="currentTab" (tabChange)="onTabChanged($event)">
  <app-retention-policies *tab="'Retention policies'" />
  <div *tab="'Event mapping'">
    <app-govuk-heading tag="h2">Event mapping</app-govuk-heading>
  </div>
  <div *tab="'Automated tasks'">
    <app-govuk-heading tag="h2">Automated tasks</app-govuk-heading>
  </div>
</app-tabs>
