@if (hasPolicyCreated$ | async) {
  <app-govuk-banner type="success">Retention policy created</app-govuk-banner>
}
@if (hasPolicyUpdated$ | async) {
  <app-govuk-banner type="success">Retention policy updated</app-govuk-banner>
}
@if (hasPolicyRevised$ | async) {
  <app-govuk-banner type="success">Retention policy version created</app-govuk-banner>
}

@if (hasEventMappingCreated$ | async) {
  <app-govuk-banner type="information">Event mapping added</app-govuk-banner>
}

@if (hasEventMappingUpdated$ | async) {
  <app-govuk-banner type="information">Saved new version of event mapping</app-govuk-banner>
}

@if (hasEventMappingDeleted$ | async) {
  <app-govuk-banner type="information">Event mapping deleted</app-govuk-banner>
}

<app-automated-task-status [status]="taskStatus" />

<app-govuk-heading tag="h1" size="xl">System configuration</app-govuk-heading>

<app-tabs [default]="currentTab" (tabChange)="onTabChanged($event)">
  <app-retention-policies *tab="'Retention policies'" />

  <app-event-mapping *tab="'Event mappings'" />

  <app-automated-tasks *tab="'Automated tasks'" (taskRun)="taskStatus = $event" />
</app-tabs>
