<h1 class="govuk-heading-l">Check retention date change</h1>
<div class="govuk-form-group">
  <app-details-table title="Case details" [details]="caseDetails"></app-details-table>

  <app-details-table title="Change case retention date" [details]="retentionDetails"></app-details-table>

  <div class="govuk-button-group">
    <button class="govuk-button" id="confirm-button" data-module="govuk-button" (click)="onConfirm()">
      Confirm retention date change
    </button>
    <a href="#" (click)="onCancel($event)" id="cancel-link" class="govuk-link">Cancel</a>
  </div>
</div>
