input,
select {
  width: 50%;
}

app-data-table {
  display: block;
  margin-top: 2rem;
}

.content-container {
  width: 66%;
}

.heading-button-container {
  display: flex;
  justify-content: space-between;
}
