<div class="heading-button-container">
  <app-govuk-heading caption="View group">Group details</app-govuk-heading>
  <button class="govuk-button govuk-button--secondary">Edit group details</button>
</div>

@if (vm$ | async; as vm) {
  <app-govuk-heading tag="h3" size="s">Group name</app-govuk-heading>
  <p class="govuk-body">{{ vm.group.name }}</p>

  <app-govuk-heading tag="h3" size="s">Description</app-govuk-heading>
  <p class="govuk-body">{{ vm.group.description || '-' }}</p>

  <app-govuk-heading tag="h3" size="s">Role</app-govuk-heading>
  <p class="govuk-body">{{ vm?.group?.role?.name }}</p>

  <app-tabs>
    <app-group-courthouses
      *tab="'Courthouses'"
      [allCourthouses]="vm.courthouses"
      [selectedCourthouses]="vm.group.courthouses"
      (update)="onUpdateCourthouses($event)"
    />

    <app-group-users *tab="'Users'" />
  </app-tabs>
}

@if (loading$ | async) {
  <app-loading text="Loading group details" />
}
