<h2 id="events-audio-heading" class="govuk-heading-m">Events and audio recordings</h2>
<ng-container *ngIf="!table.length">
  <h2 class="govuk-heading-m">There are no events or audio for this hearing</h2>
</ng-container>
<ng-container *ngIf="table.length">
  <div id="request-audio-playback-hint" class="govuk-hint">
    Select events or audio to set the recording start and end times. You can also manually adjust the times for a custom
    recording.
  </div>
  <article class="moj-ticket-panel" aria-label="Request Playback Audio">
    <section class="moj-ticket-panel__content" aria-label="Request Playback Audio Section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s">Start Time</h3>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day"> Hour </label>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="passport-issued-day"
                  name="passport-issued-day"
                  type="text"
                  inputmode="numeric"
                />
              </div>
            </div>
            <span class="govuk-body colon">:</span>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month"> Minutes </label>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="passport-issued-month"
                  name="passport-issued-month"
                  type="text"
                  inputmode="numeric"
                />
              </div>
            </div>
            <span class="govuk-body colon">:</span>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month"> Seconds </label>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="passport-issued-month"
                  name="passport-issued-month"
                  type="text"
                  inputmode="numeric"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s">End Time</h3>
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s">Request Type</h3>
          <button class="govuk-button" data-module="govuk-button">Get Audio</button>
        </div>
      </div>
    </section>
  </article>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
      <legend id="changedName-hint" class="govuk-hint">Select events to include in requests</legend>
      <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes" />
          <label class="govuk-label govuk-radios__label" for="changedName"> Audio preview and events </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no" />
          <label class="govuk-label govuk-radios__label" for="changedName-2"> Events only </label>
        </div>
      </div>
    </fieldset>
  </div>
  <table class="govuk-table" aria-describedby="events-audio-heading">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="" />
              <label class="govuk-label govuk-checkboxes__label" for=""></label>
            </div>
          </div>
        </th>
        <th scope="col" class="govuk-table__header">Time</th>
        <th scope="col" class="govuk-table__header">Event</th>
        <th scope="col" class="govuk-table__header">Text</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr *ngFor="let row of table; let i = index" [tabindex]="i" class="govuk-table__row">
        <td scope="row" class="govuk-table__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                [tabindex]="i + 1"
                class="govuk-checkboxes__input"
                [id]="row.id"
                [name]="row.id"
                type="checkbox"
                [value]="row.id"
                [checked]="isRowSelected(row)"
                (change)="toggleRowSelection(row)"
              />
              <label class="govuk-label govuk-checkboxes__label" [for]="row.id"></label>
            </div>
          </div>
        </td>
        <ng-container *ngIf="row.type === 'audio'">
          <td class="govuk-table__cell">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Preview Audio</button>
          </td>
          <td class="govuk-table__cell">Start time: {{ row.media_start_timestamp | date : 'HH:mm:ss' }}</td>
          <td class="govuk-table__cell">End time: {{ row.media_end_timestamp | date : 'HH:mm:ss' }}</td>
        </ng-container>
        <ng-container *ngIf="row.type === 'event'">
          <td class="govuk-table__cell">{{ row.timestamp | date : 'HH:mm:ss' }}</td>
          <td class="govuk-table__cell">{{ row.name }}</td>
          <td class="govuk-table__cell">{{ row.text }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-container>
