<ng-container *ngIf="!table.length">
  <h2 class="govuk-heading-m">There are no events or audio for this hearing</h2>
</ng-container>
<ng-container *ngIf="table.length">
  <form [formGroup]="eventsFilterForm" class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
      <legend id="changedName-hint" class="govuk-hint">Select events to include in requests</legend>
      <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="filterAll"
            name="selectedOption"
            type="radio"
            value="all"
            formControlName="selectedOption"
          />
          <label class="govuk-label govuk-radios__label" for="filterAll"> Audio preview and events </label>
        </div>
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="filterEvents"
            name="selectedOption"
            type="radio"
            value="events"
            formControlName="selectedOption"
          />
          <label class="govuk-label govuk-radios__label" for="filterEvents"> Events only </label>
        </div>
      </div>
    </fieldset>
  </form>
  <table class="govuk-table" aria-describedby="events-audio-heading">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="selectAll"
                name="selectAll"
                type="checkbox"
                value="selectAll"
                (change)="onSelectAllChanged($any($event.target).checked)"
              />
              <label class="govuk-label govuk-checkboxes__label" for=""></label>
            </div>
          </div>
        </th>
        <th scope="col" class="govuk-table__header">Time</th>
        <th scope="col" class="govuk-table__header">Event</th>
        <th scope="col" class="govuk-table__header">Text</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <ng-container *ngFor="let row of filteredTable; let i = index">
        <tr
          [tabindex]="i"
          class="govuk-table__row"
          [class.no-bottom-border]="row.type === 'audio' && isAudioInPreview(row.id)"
        >
          <td scope="row" class="govuk-table__header">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  [id]="row.id"
                  [name]="row.id"
                  type="checkbox"
                  [value]="row.id"
                  [checked]="isRowSelected(row)"
                  (change)="toggleRowSelection(row)"
                />
                <label class="govuk-label govuk-checkboxes__label" [for]="row.id"></label>
              </div>
            </div>
          </td>
          <ng-container *ngIf="row.type === 'audio'">
            <td class="govuk-table__cell">
              <button
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button"
                (click)="onPreviewAudio(row.id)"
              >
                Preview Audio
              </button>
            </td>
            <td class="govuk-table__cell">Start time: {{ row.media_start_timestamp | date : 'HH:mm:ss' }}</td>
            <td class="govuk-table__cell">End time: {{ row.media_end_timestamp | date : 'HH:mm:ss' }}</td>
          </ng-container>
          <ng-container *ngIf="row.type === 'event'">
            <td class="govuk-table__cell">{{ row.timestamp | date : 'HH:mm:ss' }}</td>
            <td class="govuk-table__cell">{{ row.name }}</td>
            <td class="govuk-table__cell">{{ row.text }}</td>
          </ng-container>
        </tr>
        <tr *ngIf="row.type === 'audio' && isAudioInPreview(row.id)" class="govuk-table__row no-top-border">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell" colspan="3">
            <app-audio-player [mediaId]="row.id"></app-audio-player>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
