@if (data$ | async; as data) {
  <div class="heading-button-container">
    <app-govuk-heading tag="h2">Event mappings</app-govuk-heading>
    <button
      class="govuk-button govuk-button--secondary"
      (click)="router.navigate(['admin/system-configuration/event-mappings/create'])"
    >
      Add event mapping
    </button>
  </div>

  <app-event-mapping-form (filterValues)="onFormValuesChange($event)" [eventHandlers]="data.eventHandlers" />

  <app-data-table
    captionType="heading"
    id="events-mapping-table"
    [columns]="columns"
    [rows]="data.eventMappings"
    noDataMessage="There are no matching results."
    [sortAndPaginateOnRowsChanged]="false"
  >
    <ng-template [tableRowTemplate]="data.eventMappings" let-row>
      <td>{{ row.type }}</td>
      <td>{{ row.subType }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.handler | humanizeInitCap }}</td>
      <td>{{ row.hasRestrictions ? 'Yes' : 'No' }}</td>
      <td>{{ row.createdAt | luxonDate: 'dd MMM yyyy' }}</td>
      <td>{{ row.isActive ? 'Active' : 'Inactive' }}</td>
      <td>
        @if (row.isActive) {
          <a
            href="javascript:void(0)"
            class="govuk-link"
            (click)="router.navigate(['admin/system-configuration/event-mappings', row.id, 'edit'])"
          >
            Change
          </a>
        }
      </td>
    </ng-template>
  </app-data-table>
} @else {
  <app-loading />
}
