<a [routerLink]="[backUrl]" class="govuk-back-link">Back</a>

@if (data$ | async; as data) {
  @if (unhiddenOrUnmarkedForDeletion()) {
    <app-govuk-banner type="success"> Audio file(s) unhidden / unmarked for deletion </app-govuk-banner>
  }

  <app-expired-banner [expiryDate]="data.audioFile.retainUntil" />

  <app-hidden-file-banner (unhideOrUndelete)="hideOrUnhideFile(data.audioFile)" [file]="data.hiddenFileBanner" />

  <div class="heading-button-container">
    <app-govuk-heading caption="Audio file">{{ audioFileId }}</app-govuk-heading>
    @if (isAdmin) {
      <button class="govuk-button govuk-button--secondary" (click)="hideOrUnhideFile(data.audioFile)">
        @if (data.audioFile.isHidden) {
          @if (data.hiddenFileBanner?.isMarkedForDeletion) {
            Unmark for deletion and unhide
          } @else {
            Unhide
          }
        } @else {
          Hide or delete
        }
      </button>
    }
  </div>

  @if (isAdmin) {
    <app-tabs screenId="audio-file-details" default="Basic details">
      <app-basic-audio-file-details
        *tab="tabNames.basic; screenReaderText: 'Basic audio file details'; id: 'basic-details-tab'"
        [audioFile]="data.audioFile"
        [associatedCases]="data.associatedCases"
        [associatedHearings]="data.associatedHearings"
      />
      <app-advanced-audio-file-details
        *tab="tabNames.advanced; screenReaderText: 'Advanced audio file details'; id: 'advanced-details-tab'"
        [isAdmin]="isAdmin"
        [audioFile]="data.audioFile"
      />
    </app-tabs>
  } @else {
    <app-basic-audio-file-details [audioFile]="data.audioFile" [associatedCases]="data.associatedCases" />
  }
}
