<h1 class="govuk-heading-l">Dev components</h1>

<app-tabs>
  <div *tab="'Filters'">
    <p class="govuk-body">Filter functionality has following features:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Single or multi-select against filter types</li>
      <li>Shows current selection, at the top</li>
      <li>Search against values</li>
      <li>Clear specific selected filters</li>
      <li>Clear entire selected filters/inputs</li>
    </ul>

    <p class="govuk-body">
      See below for example
      <strong>Input & Output</strong>
    </p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <!-- Filters component -->
        <app-filters (filterEvent)="getFilters($event)" [filters]="filters"></app-filters>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s" id="input" style="padding-top: 40px">Input</h3>

        <p class="govuk-body">
          This filter component takes in a generic object and renders UI based on that component, see example object
          below.
        </p>
        <pre> {{ filters | json }} </pre>

        <h3 class="govuk-heading-s">Output</h3>

        <p class="govuk-body">
          This filter component outputs the currently filtered values so they can be used by a parent component, see
          example object below. To see actual output, click 'Apply filters' button on the filter component.
        </p>
        @if (selectedFilters) {
          <pre> {{ selectedFilters | json }} </pre>
        } @else {
          <pre> {{ exampleOutput | json }} </pre>
        }
      </div>
    </div>
  </div>

  <div *tab="'Assign Groups'">
    <div class="govuk-grid-column-one-half">
      <app-security-group-selector [groups]="groups" (assign)="selectedGroups = $event" />
    </div>
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s">Input</h3>
      <pre>{{ groups | json }}</pre>

      <h3 class="govuk-heading-s">Output</h3>
      <pre>{{ selectedGroups | json }}</pre>
    </div>
  </div>

  <div *tab="'Checkbox List'">
    <app-checkbox-list
      class="govuk-grid-column-one-half"
      [checkboxes]="checkboxItems"
      [formControl]="checkboxes"
    ></app-checkbox-list>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s">Input</h3>
      <pre>{{ checkboxItems | json }}</pre>

      <h3 class="govuk-heading-s">Output</h3>
      <pre>{{ checkboxes.value | json }}</pre>
    </div>
  </div>
</app-tabs>
