<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">
    {{
      title
    }}
  </caption>
  <tbody class="govuk-table__body">
    @for (detail of details | keyvalue: originalOrder; track $index) {
      @if (isNotNullUndefinedOrEmptyString(detail.value) && !isNotNullUndefinedOrEmptyString(detail.key)) {
        <!-- Single column message -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-width">{{ detail.value }}</td>
        </tr>
      } @else if (isNotNullUndefinedOrEmptyString(detail.value)) {
        <tr class="govuk-table__row">
          <th class="govuk-table__header">{{ detail.key }}</th>
          <td class="govuk-table__cell table-width">{{ detail.value }}</td>
        </tr>
      }
    }
  </tbody>
</table>
