<form [formGroup]="form" class="govuk-form" (ngSubmit)="onSubmit()">
  <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid(courthouseNameControl)">
    <label class="govuk-label" for="courthouse-name">Courthouse name</label>
    <div id="case_number-hint" class="govuk-hint">Must be the same ID used on XHIBIT or CPP</div>
    <!-- Inline Validation Errors -->
    @for (error of getFormControlErrorMessages('courthouseName'); track error) {
      <p class="govuk-error-message courthouse-name-error">
        <span class="govuk-visually-hidden">Error:</span> {{ error }}
      </p>
    }
    <input
      class="govuk-input"
      type="text"
      id="courthouse-name"
      formControlName="courthouseName"
      [class.govuk-input--error]="isControlInvalid(courthouseNameControl)"
    />
  </div>

  <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid(displayNameControl)">
    <label class="govuk-label" for="display-name">Display name</label>
    <!-- Inline Validation Errors -->
    @for (error of getFormControlErrorMessages('displayName'); track error) {
      <p class="govuk-error-message display-name-error">
        <span class="govuk-visually-hidden">Error:</span> {{ error }}
      </p>
    }
    <input
      class="govuk-input"
      type="displayName"
      id="display-name"
      formControlName="displayName"
      [class.govuk-input--error]="isControlInvalid(displayNameControl)"
    />
  </div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
  <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid(regionControl)">
    <h2 class="govuk-heading-m">Region</h2>
    @for (error of getFormControlErrorMessages('regionId'); track error) {
      <p class="govuk-error-message region-error"><span class="govuk-visually-hidden">Error:</span> {{ error }}</p>
    }
    <div class="govuk-radios" id="region-radios" data-module="govuk-radios">
      @for (region of regions; track region) {
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            [id]="formatNameToId(region.name) + '-radio'"
            name="regionId"
            type="radio"
            [value]="region.id"
            formControlName="regionId"
          />
          <label class="govuk-label govuk-radios__label" for="approve-radio">{{ region.name }}</label>
        </div>
      }
      <label id="or-label" class="govuk-label govuk-radios__label" for="no-region">Or</label>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no-region" name="regionId" type="radio" formControlName="regionId" />
        <label class="govuk-label govuk-radios__label" for="approve-radio">No region</label>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
  <div class="govuk-form-group">
    <h2 class="govuk-heading-m">Transcription companies</h2>
    <span class="govuk-body">Select transcription companies</span>
    <div id="case_number-hint" class="govuk-hint">You can select and add multiple companies</div>
    <select
      class="govuk-select"
      id="transcription-type"
      name="transcription-type"
      (change)="selectCompany($any($event).target.value)"
    >
      <option value="" disabled selected>Please select</option>
      @for (company of companies; track company) {
        <option [value]="company.id">
          {{ company.name }}
        </option>
      }
    </select>
    <button
      (click)="$event.preventDefault(); addCompany()"
      class="add-company-button govuk-button govuk-button--secondary"
    >
      Add company
    </button>
    @if (selectedCompanies.length) {
      <table aria-label="Selected companies" class="govuk-table" id="company-table">
        <th><ng-content></ng-content></th>
        <tbody class="govuk-table__body">
          @for (company of selectedCompanies; track company) {
            <!-- Single column message -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-width">{{ company.name }}</td>
              <td class="govuk-table__cell table-width">
                <a
                  href="javascript:void(0)"
                  (click)="$event.preventDefault(); removeCompany(company.id)"
                  class="govuk-link"
                >
                  Remove
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>

  <div class="govuk-button-group">
    <button class="govuk-button" type="submit">Continue</button>
    <a class="govuk-link" href="javascript:void(0)" (click)="onCancel()">Cancel</a>
  </div>
</form>
