<app-govuk-heading
  >Are you sure you want to remove {{ user.fullName }} from
  {{ selectedGroups.length === 1 ? 'this group' : 'these groups' }}?
</app-govuk-heading>

@for (group of selectedGroups; track group.id) {
  <div class="group-row">
    <p class="govuk-body">{{ group.name }}</p>
    <p class="govuk-body">{{ group.role?.name }}</p>
  </div>
}

<div class="govuk-button-group">
  <button id="confirm-button" class="govuk-button" type="button" (click)="removeGroups()">Yes - continue</button>
  <button class="govuk-button govuk-button--secondary" type="button" (click)="onCancel()">No - cancel</button>
</div>
