<app-validation-error-summary [errors]="errors"></app-validation-error-summary>

<app-govuk-heading>Transformed media</app-govuk-heading>

@if (courthouses$ | async; as courthouses) {
  <app-search-transformed-media-form
    [courthouses]="courthouses"
    [formValues]="transformedMediaService.searchFormValues()"
    [(isAdvancedSearch)]="transformedMediaService.isAdvancedSearch"
    (search)="onSearch($event)"
    (clear)="transformedMediaService.clearSearch()"
    (errors)="errors = $event"
  />
}

@if (transformedMediaService.isSearchFormSubmitted() && !isLoading()) {
  <app-transformed-media-search-results [results]="transformedMediaService.searchResults()" />
}

@if (isLoading()) {
  <app-loading text="Searching transformed media results..." />
}
