.restriction-row {
  background: rgba(29, 112, 184, 0.1);
}

.remove-bottom-border td {
  border-bottom: none;
}

.govuk-warning-text {
  margin-bottom: 0;
  padding: 0;
}

.govuk-warning-text__text {
  font-weight: 300;
  margin-left: -8px;
}

.govuk-warning-text__icon {
  background-color: #1d70b8;
  border-color: #1d70b8;
  min-width: 20px;
  min-height: 20px;
  font-size: 0.938rem;
  line-height: 14px;
  top: 7px;
  left: 7px;
  padding-left: 1px;
}

[aria-sort] button {
  color: #1d70b8;
}

[aria-sort='none'] button:before {
  content: ' ▼';
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort='none'] button:after {
  content: ' ▲';
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort='descending'] button:after {
  content: ' ▼';
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort='ascending'] button:after {
  content: ' ▲';
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}
