<div class="heading-button-container">
  <app-govuk-heading tag="h2">Retention policies</app-govuk-heading>
  <button class="govuk-button" (click)="router.navigate([retentionPoliciesPath, 'create'])">Create policy</button>
</div>
@if (retentionPolicies$ | async; as rows) {
  <app-tabs>
    <app-data-table
      *tab="'Active'"
      id="active-policies-table"
      [rows]="rows.activeRetentionPolicies"
      [columns]="activeColumns"
    >
      <ng-template [tableRowTemplate]="rows.activeRetentionPolicies" let-row>
        <td class="govuk-table__cell">{{ row.displayName }}</td>
        <td class="govuk-table__cell">{{ row.description }}</td>
        <td class="govuk-table__cell">{{ row.fixedPolicyKey }}</td>
        <td class="govuk-table__cell">{{ row.duration | duration }}</td>
        <td class="govuk-table__cell">{{ row.policyStartAt | luxonDate: 'dd MMM yyyy h:mm a' }}</td>
        <td class="govuk-table__cell">
          {{ row.policyEndAt ? (row.policyEndAt | luxonDate: 'dd MMM yyyy h:mm a') : '-' }}
        </td>
        <td class="govuk-table__cell">
          @if (isPolicyActive(row.policyStartAt)) {
            <a href="javascript:void(0)" class="govuk-link" (click)="onEditClick(row, rows.activeRetentionPolicies)">
              Edit Policy
            </a>
          } @else {
            <a
              href="javascript:void(0)"
              class="govuk-link"
              (click)="router.navigate([retentionPoliciesPath, row.id, 'create-revision'])"
            >
              Create new version
            </a>
          }
        </td>
      </ng-template>
    </app-data-table>
    <app-data-table
      *tab="'Inactive'"
      id="inactive-policies-table"
      [rows]="rows.inactiveRetentionPolicies"
      [columns]="inActiveColumns"
    >
      <ng-template [tableRowTemplate]="rows.inactiveRetentionPolicies" let-row>
        <td class="govuk-table__cell">{{ row.displayName }}</td>
        <td class="govuk-table__cell">{{ row.description }}</td>
        <td class="govuk-table__cell">{{ row.fixedPolicyKey }}</td>
        <td class="govuk-table__cell">{{ row.duration | duration }}</td>
        <td class="govuk-table__cell">{{ row.policyStartAt | luxonDate: 'dd MMM yyyy h:mm a' }}</td>
        <td class="govuk-table__cell">
          {{ row.policyEndAt ? (row.policyEndAt | luxonDate: 'dd MMM yyyy h:mm a') : '-' }}
        </td>
      </ng-template>
    </app-data-table>
  </app-tabs>
}
