<ng-container *ngIf="data$ | async as vm; else loading">
  <app-breadcrumb *ngIf="state === 'Default'">
    <ng-container *breadcrumb="['/case', vm.case.case_id.toString()]">{{ vm.case.case_number }}</ng-container>
    <ng-container *breadcrumb>{{ vm.hearing?.date | date: 'd MMM y' }}</ng-container>
  </app-breadcrumb>

  <!-- Validation Error Summary Component -->
  <app-validation-error-summary [errors]="errorSummary"></app-validation-error-summary>

  <!-- Back Button -->
  <a href="#" *ngIf="state === 'OrderSummary'" (click)="onBack($event)" class="govuk-back-link">Back</a>

  <!-- Reporting Restriction Banner -->
  <app-reporting-restriction
    *ngIf="vm.case.reporting_restriction && state !== 'OrderFailure'"
    [reportingRestriction]="vm.case.reporting_restriction"
  ></app-reporting-restriction>
  <ng-container *ngIf="vm.error?.status === 403 && state === 'OrderFailure'">
    <app-forbidden header="You do not have permission to get audio for this courthouse." />
  </ng-container>

  <div [hidden]="state !== 'Default'">
    <app-hearing-file [case]="vm.case" [hearing]="vm.hearing"></app-hearing-file>
    <app-tabs [default]="defaultTab">
      <div *tab="'Events and Audio'">
        <!-- Hearing Screen -->

        <h2 id="events-audio-heading" class="govuk-heading-m">Events and audio recordings</h2>

        <app-request-playback-audio
          [hearing]="vm.hearing!"
          [audioTimes]="audioTimes"
          [userState]="userState"
          (audioRequest)="onAudioRequest($event)"
          (validationErrorEvent)="onValidationError($event)"
        ></app-request-playback-audio>

        <!-- Events & Audio Table-->
        <app-events-and-audio
          [audio]="vm.audios"
          [events]="vm.events"
          (eventsSelect)="onEventsSelected($event)"
        ></app-events-and-audio>
      </div>
      <ng-container *ngIf="transcripts$ | async as transcripts">
        <div *tab="'Transcripts'; count: transcripts.length">
          <div class="flex-space-between">
            <h2 class="govuk-heading-m">Transcripts for this hearing</h2>
            <button
              class="govuk-button govuk-button--secondary"
              data-module="govuk-button"
              routerLink="./request-transcript"
            >
              Request a new transcript
            </button>
          </div>

          <app-data-table
            id="transcriptsTable"
            [rows]="transcripts"
            [columns]="transcriptColumns"
            noDataMessage="There are no transcripts for this hearing."
          >
            <ng-template [tableRowTemplate]="transcripts" let-row>
              <td class="govuk-table__cell">{{ row.type }}</td>
              <td class="govuk-table__cell">{{ row.requestedOn | date: 'dd MMM yyyy HH:mm:ss' }}</td>
              <td class="govuk-table__cell">{{ row.requestedBy }}</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag" [ngClass]="statusTagStyleMap[row.status]">
                  {{ row.status }}
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a *ngIf="row.status === 'Complete'" [routerLink]="['transcripts', row.tra_id]">View</a>
              </td>
            </ng-template>
          </app-data-table>
        </div>
      </ng-container>
    </app-tabs>
  </div>

  <!-- Summary / Confirmation Screen -->
  <div
    [hidden]="state !== 'OrderConfirmation' && state !== 'OrderSummary' && state !== 'OrderFailure'"
    class="order-confirmation"
  >
    <app-order-confirmation
      [case]="vm.case"
      [hearing]="vm.hearing"
      [audioRequest]="requestObject"
      [requestId]="requestId"
      [state]="state"
      [userState]="userState"
      (stateChange)="onStateChanged($event)"
      (orderConfirm)="onOrderConfirm($event)"
    ></app-order-confirmation>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading text="Loading hearing details..."></app-loading>
</ng-template>
