<ng-container *ngIf="data$ | async as vm; else loading">
  <app-breadcrumb *ngIf="state === 'Default'">
    <ng-container *breadcrumb="['/case', vm.case.case_id.toString()]">{{ vm.case.case_number }}</ng-container>
    <ng-container *breadcrumb>{{ vm.hearing?.date | date: 'd MMM y' }}</ng-container>
  </app-breadcrumb>

  <!-- Error Summary Box -->
  <div
    *ngIf="errorSummary.length > 0"
    class="govuk-error-summary"
    data-module="govuk-error-summary"
    id="error-summary-box"
  >
    <div role="alert">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li *ngFor="let error of errorSummary">
            <a [id]="'error-' + error.fieldId" [routerLink]="['.']" (click)="focus(error.fieldId)">{{
              error.message
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Back Button -->
  <a href="#" *ngIf="state === 'OrderSummary'" (click)="onBack($event)" class="govuk-back-link">Back</a>

  <!-- Reporting Restriction Banner -->
  <app-reporting-restriction
    *ngIf="vm.case.reporting_restriction"
    [reportingRestriction]="vm.case.reporting_restriction"
  ></app-reporting-restriction>

  <div [hidden]="state !== 'Default'">
    <app-hearing-file [case]="vm.case" [hearing]="vm.hearing"></app-hearing-file>
    <app-tabs>
      <div *tab="'Events and Audio'">
        <!-- Hearing Screen -->

        <h2 id="events-audio-heading" class="govuk-heading-m">Events and audio recordings</h2>

        <app-request-playback-audio
          [hearing]="vm.hearing!"
          [audioTimes]="audioTimes"
          [userState]="userState"
          (audioRequest)="onAudioRequest($event)"
          (validationErrorEvent)="onValidationError($event)"
        ></app-request-playback-audio>

        <!-- Events & Audio Table-->
        <app-events-and-audio
          [audio]="vm.audios"
          [events]="vm.events"
          (eventsSelect)="onEventsSelected($event)"
        ></app-events-and-audio>
      </div>
      <ng-container *ngIf="transcripts$ | async as transcripts">
        <div *tab="'Transcripts'; count: transcripts.length">
          <div class="flex-space-between">
            <h2 class="govuk-heading-m">Transcripts for this hearing</h2>
            <button *ngIf="transcripts.length" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Request a new transcript
            </button>
          </div>
          <ng-container *ngIf="transcripts.length">
            <app-data-table id="transcriptsTable" [rows]="transcripts" [columns]="transcriptColumns">
              <ng-template [tableRowTemplate]="transcripts" let-row>
                <td class="govuk-table__cell">{{ row.type }}</td>
                <td class="govuk-table__cell">{{ row.requestedOn | date: 'dd MMM yyyy HH:mm:ss' }}</td>
                <td class="govuk-table__cell">{{ row.requestedBy }}</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag" [ngClass]="statusTagStyleMap[row.status]">
                    {{ row.status }}
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  <a *ngIf="row.status === 'Complete'" [routerLink]="['.']">View</a>
                </td>
              </ng-template>
            </app-data-table>
          </ng-container>
          <ng-container *ngIf="!transcripts.length">
            <p class="govuk-body">There are no transcripts for this hearing.</p>
          </ng-container>
        </div>
      </ng-container>
    </app-tabs>
  </div>

  <!-- Summary / Confirmation Screen -->
  <div [hidden]="state !== 'OrderConfirmation' && state !== 'OrderSummary'" class="order-confirmation">
    <app-order-confirmation
      [case]="vm.case"
      [hearing]="vm.hearing"
      [audioRequest]="requestObject"
      [requestId]="requestId"
      [state]="state"
      [userState]="userState"
      (stateChange)="onStateChanged($event)"
      (orderConfirm)="onOrderConfirm($event)"
    ></app-order-confirmation>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading text="Loading hearing details..."></app-loading>
</ng-template>
