.moj-banner__message {
  .govuk-heading-m,
  .govuk-body-m {
    display: inline;
  }
}

.govuk-heading-s {
  margin: 0;
}

.govuk-back-link {
  margin-top: -25px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
