<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul id="admin-nav" class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/search"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Search</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/users"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Users</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/groups"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Groups</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/courthouses"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Courthouses</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/transformed-media"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Transformed media</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/transcripts"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Transcripts</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/file-deletion"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >File deletion</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/system-configuration"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >System configuration</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
