<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul id="admin-nav" class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/users"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Users</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/groups"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Groups</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/organisations"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Organisations</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/courthouses"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Courthouses</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/events"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Events</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/node-registry"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Node registry</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/transformed-media"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Transformed media</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/transcription-requests"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Transcript requests</a
            >
          </li>
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="admin/retention-policies"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Retention policies</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
