:host-context(.no-margin) {
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
}

:host-context(.border-bottom) {
  h1,
  h2,
  h3,
  h4 {
    border-bottom: 2px solid;
  }
}

:host-context(.two-thirds) {
  h1,
  h2,
  h3,
  h4 {
    width: 66.6666666667%;
  }
}

.caption {
  margin-top: 1rem;
}
