@if (data$ | async; as data) {
  <a [routerLink]="[backUrl]" class="govuk-back-link">Back</a>

  @if (data.caseFile) {
    <app-case-file [caseFile]="data.caseFile" />
  }

  @if (!data.caseFile?.isDataAnonymised) {
    <app-tabs id="case-tabs">
      <div *tab="'Hearings'">
        <app-govuk-heading tag="h2" size="m">Hearings</app-govuk-heading>
        <app-case-hearings-table [hearings]="data.hearings" [caseId]="caseId()" [adminScreen]="true" />
      </div>

      <!--  <div *tab="'Audio'"></div> -->

      <div *tab="'Events'; id: 'events-tab'">
        <app-govuk-heading tag="h2" size="m">Events</app-govuk-heading>
        <app-case-events-table [events]="data.events" [caseId]="caseId()" [adminScreen]="true" />
      </div>

      <!-- <div *tab="'Transcripts'; id: 'transcripts-tab'"></div> -->

      <!-- <div *tab="'Annotations'; id: 'annotations-tab'"></div> -->

      <div *tab="'Additional case details'; id: 'additional-tab'">
        @if (data.caseFile) {
          <app-case-additional-details [caseFile]="data.caseFile"></app-case-additional-details>
        }
      </div>
    </app-tabs>
  } @else {
    @if (data.caseFile) {
      <app-case-additional-details [caseFile]="data.caseFile"></app-case-additional-details>
    }
  }
} @else {
  <app-loading />
}
