<app-validation-error-summary [errors]="errorSummary()" />

<app-govuk-heading>Search for a case</app-govuk-heading>

<app-case-search-form
  [courthouses]="courthouses()"
  [formValues]="formValues()"
  (search)="onSearch($event)"
  (clear)="onClear()"
  (validationError)="onValidationError($event)"
  [(isAdvancedSearch)]="isAdvancedSearch"
  [(isSubmitted)]="isSubmitted"
/>

@let error = searchError();
@let cases = results();
@let loading = isLoading();

<div id="results">
  @if (cases) {
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
    <app-case-search-results [cases]="cases" />
  }

  @if (loading) {
    <app-loading text="Loading search results ..." />
  }

  @if (error) {
    <app-search-error [error]="error" />
  }
</div>
