div#api {
    margin-bottom: 70px;
}

div.intro {
    display: none;
}

div.heading {
    font-family: 'GDS Transport';
    padding-top: 16px;
}

a.helpLink.tiny {
    display: none;
}

ul {
    padding-inline-start: 0px;
}

ul li {
    display: inline;
}

label#newPassword_label {
    font-family: 'GDS Transport';
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.1875rem;
}

label#reenterPassword_label {
    font-family: 'GDS Transport';
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.1875rem;
}

div.attrEntry {
    margin-bottom: 15px;
}

p {
    font-family: 'GDS Transport';
    font-size: 19px;
    display: block !important;
    padding: 10px 0px;
}

input#newPassword.textInput {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    height: 2.5rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    max-width: 29.5em;
}

input#reenterPassword.textInput {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    height: 2.5rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    max-width: 29.5em;
}

@media print {

    input#newPassword.textInput,
    input#reenterPassword.textInput {
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {

    input#newPassword.textInput,
    input#reenterPassword.textInput {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {

    input#newPassword.textInput,
    input#reenterPassword.textInput {
        font-size: 14pt;
        line-height: 1.15
    }
}

input#newPassword.textInput:focus,
input#reenterPassword.textInput:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px
}

input#newPassword.textInput:disabled,
input#reenterPassword.textInput:disabled {
    opacity: .5;
    color: inherit;
    background-color: transparent;
    cursor: not-allowed
}

button#cancel {
    position: absolute;
    top: 60px;
    border: none;
    background: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -198px;
    padding-left: 0.875em;
}

button#cancel:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.1875em;
    width: 0.4375em;
    height: 0.4375em;
    margin: auto 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f;
}

button#cancel:after {
    content: '';
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left: 0;
}

@media (min-width: 40.0625em) {
    button#cancel {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}

button#continue {
    font-family: 'GDS Transport', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: unset;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 20px;
    margin-bottom: 60px;
}

@media (min-width: 40.0625em) {
    button#continue {
        width: auto;
        margin-bottom: 32px;
        line-height: 1;
    }
}

div.heading {
    font-family: 'GDS Transport';
    padding-top: 16px;
    margin-top: 50px;
}