/* Forgot Password Request Code */

div#api {
    margin-bottom: 70px;
}

.heading {
    margin-top: 50px;
}

.govuk-width-container {
    font-family: 'GDS Transport';
}

.intro {
    font-size: 1.1875rem;
    margin-bottom: 30px;
}

div.heading {
    font-family: 'GDS Transport';
    padding-top: 16px;
}

div.intro p {
    margin-top: 30px;
    margin-bottom: 20px;
}

ul li {
    display: inline;
}

ul {
    padding-inline-start: 0px;
}

a.helpLink.tiny {
    display: none;
}

label#email_label {
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.1875rem;
}

div.attrEntry {
    margin-bottom: 10px;
}

.govuk-error-summary {
    margin-top: 60px;
    margin-bottom: -40px;
}

.errorText {
    margin: 10px 0 15px 0;
    color: #D4351C;
}

button#emailVerificationControl_but_send_code.sendCode,
button#continue {
    font-family: 'GDS Transport', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 20px;
    margin-bottom: 60px;
}

button#continue {
    display: none;
    width: auto;
}

@media (min-width: 40.0625em) {

    button#emailVerificationControl_but_send_code.sendCode,
    button#continue {
        width: auto;
        margin-bottom: 32px;
        line-height: 1;
    }
}

button#emailVerificationControl_but_send_code.sendCode:link,
button#emailVerificationControl_but_send_code.sendCode:visited,
button#emailVerificationControl_but_send_code.sendCode:active,
button#emailVerificationControl_but_send_code.sendCode:hover {
    color: #ffffff;
    text-decoration: none;
}

button#continue:link,
button#continue:visited,
button#continue:active,
button#continue:hover {
    color: #ffffff;
    text-decoration: none;
}

button#emailVerificationControl_but_send_code::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button#emailVerificationControl_but_send_code.sendCode:focus,
button#continue:focus {
    border-color: #fd0;
    outline: 3px solid transparent;
    box-shadow: inset 0 0 0 1px #fd0;
}

button#continue:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c
}

button#emailVerificationControl_but_send_code:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c;
}

button#emailVerificationControl_but_send_code:active {
    top: 2px;
}

button#emailVerificationControl_but_send_code:active:before {
    top: -4px;
}

button#emailVerificationControl_but_send_code.sendCode:hover,
button#continue:hover {
    background-color: #005a30;
}

button#emailVerificationControl_but_send_code.sendCode:before,
button#continue:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
}

input#email.textInput {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    height: 2.5rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    max-width: 29.5em;
}

@media print {
    input#email.textInput {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    input#email.textInput {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

@media print {
    input#email.textInput {
        font-size: 14pt;
        line-height: 1.15;
    }
}

input#email.textInput:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
}

input#email.textInput:disabled {
    font-weight: bold;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    color: black;
}

input#email.textInput::-webkit-inner-spin-button,
input#email.textInput::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input#email.textInput[type='number'] {
    -moz-appearance: textfield;
}

input#email.textInput--error {
    border-color: #d4351c;
}

input#email.textInput--error:focus {
    border-color: #0b0c0c;
}

input#email.textInput--extra-letter-spacing {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'tnum' 1;
    font-feature-settings: 'tnum' 1;
    font-weight: 400;
    letter-spacing: 0.05em;
}

@media print {
    input#email.textInput--extra-letter-spacing {
        font-family: sans-serif;
    }
}

@supports (font-variant-numeric: tabular-nums) {
    input#email.textInput--extra-letter-spacing {
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant-numeric: tabular-nums;
    }
}

input#email.textInput--width-30 {
    max-width: 29.5em;
}

input#email.textInput--width-20 {
    max-width: 20.5em;
}

input#email.textInput--width-10 {
    max-width: 11.5em;
}

input#email.textInput--width-5 {
    max-width: 5.5em;
}

input#email.textInput--width-4 {
    max-width: 4.5em;
}

input#email.textInput--width-3 {
    max-width: 3.75em;
}

input#email.textInput--width-2 {
    max-width: 2.75em;
}

input#email.textInput__wrapper {
    display: -ms-flexbox;
    display: flex;
}

input#email.textInput__wrapper input#email.textInput {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

input#email.textInput__wrapper input#email.textInput:focus {
    z-index: 1;
}

@media (max-width: 19.99em) {
    input#email.textInput__wrapper {
        display: block;
    }

    input#email.textInput__wrapper input#email.textInput {
        max-width: 100%;
    }
}

input#email.textInput__prefix,
input#email.textInput__suffix {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    display: inline-block;
    min-width: 40px;
    min-width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    padding: 5px;
    border: 2px solid #0b0c0c;
    background-color: #f3f2f1;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

@media print {

    input#email.textInput__prefix,
    input#email.textInput__suffix {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {

    input#email.textInput__prefix,
    input#email.textInput__suffix {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

@media print {

    input#email.textInput__prefix,
    input#email.textInput__suffix {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (max-width: 40.0525em) {

    input#email.textInput__prefix,
    input#email.textInput__suffix {
        line-height: 1.6;
    }
}

@media (max-width: 19.99em) {

    input#email.textInput__prefix,
    input#email.textInput__suffix {
        display: block;
        height: 100%;
        white-space: normal;
    }

    input#email.textInput__prefix {
        border-bottom: 0;
    }
}

@media (min-width: 20em) {
    input#email.textInput__prefix {
        border-right: 0;
    }
}

@media (max-width: 19.99em) {
    input#email.textInput__suffix {
        border-top: 0;
    }
}

@media (min-width: 20em) {
    input#email.textInput__suffix {
        border-left: 0;
    }
}

.govuk-date-input {
    font-size: 0;
}

.govuk-date-input:after {
    content: '';
    display: block;
    clear: both;
}

.govuk-date-input__item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

.govuk-date-input__label {
    display: block;
}

.govuk-date-input__input {
    margin-bottom: 0;
}

button#cancel {
    position: absolute;
    top: 60px;
    border: none;
    background: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0.875em;
}

@media (min-width: 40.0625em) {
    button#cancel {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}

@media print {
    button#cancel {
        font-size: 14pt;
        line-height: 1.2;
        font-family: sans-serif;
    }
}

button#cancel:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

button#cancel:link,
button#cancel:visited {
    color: #0b0c0c;
}

@media print {

    button#cancel:link,
    button#cancel:visited {
        color: #000;
    }
}

button#cancel:hover {
    color: rgba(11, 12, 12, 0.99);
}

button#cancel:active,
button#cancel:focus {
    color: #0b0c0c;
}

@media print {

    button#cancel:active,
    button#cancel:focus {
        color: #000;
    }
}

button#cancel:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.1875em;
    width: 0.4375em;
    height: 0.4375em;
    margin: auto 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f;
}

@supports (border-width: max(0px)) {
    button#cancel:before {
        border-width: max(1px, 0.0625em) max(1px, 0.0625em) 0 0;
        font-size: max(16px, 1em);
    }
}

button#cancel:focus:before {
    border-color: #0b0c0c;
}

button#cancel:after {
    content: '';
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left: 0;
}

/* Forgot Password Verify Code */

div#emailVerificationControl_success_message {
    font-size: 19px;
    padding: 10px 0px;
}

div#emailVerificationControl_success_message[style*="display: none"] {
    padding: 0px;
}

label#emailVerificationCode_label {
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.1875rem;
}

input#emailVerificationCode.textInput {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    height: 2.5rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    max-width: 29.5em;
}

@media print {
    input#emailVerificationCode.textInput {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    input#emailVerificationCode.textInput {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

@media print {
    input#emailVerificationCode.textInput {
        font-size: 14pt;
        line-height: 1.15;
    }
}

input#emailVerificationCode.textInput:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
}

input#emailVerificationCode.textInput:disabled {
    opacity: 0.5;
    color: inherit;
    background-color: transparent;
    cursor: not-allowed;
}

input#emailVerificationCode.textInput::-webkit-inner-spin-button,
input#emailVerificationCode.textInput::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input#emailVerificationCode.textInput[type='number'] {
    -moz-appearance: textfield;
}

input#emailVerificationCode.textInput--error {
    border-color: #d4351c;
}

input#emailVerificationCode.textInput--error:focus {
    border-color: #0b0c0c;
}

input#emailVerificationCode.textInput--extra-letter-spacing {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'tnum' 1;
    font-feature-settings: 'tnum' 1;
    font-weight: 400;
    letter-spacing: 0.05em;
}

@media print {
    input#emailVerificationCode.textInput--extra-letter-spacing {
        font-family: sans-serif;
    }
}

@supports (font-variant-numeric: tabular-nums) {
    input#emailVerificationCode.textInput--extra-letter-spacing {
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant-numeric: tabular-nums;
    }
}

input#emailVerificationCode.textInput--width-30 {
    max-width: 29.5em;
}

input#emailVerificationCode.textInput--width-20 {
    max-width: 20.5em;
}

input#emailVerificationCode.textInput--width-10 {
    max-width: 11.5em;
}

input#emailVerificationCode.textInput--width-5 {
    max-width: 5.5em;
}

input#emailVerificationCode.textInput--width-4 {
    max-width: 4.5em;
}

input#emailVerificationCode.textInput--width-3 {
    max-width: 3.75em;
}

input#emailVerificationCode.textInput--width-2 {
    max-width: 2.75em;
}

input#emailVerificationCode.textInput__wrapper {
    display: -ms-flexbox;
    display: flex;
}

input#emailVerificationCode.textInput__wrapper input#emailVerificationCode.textInput {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

input#emailVerificationCode.textInput__wrapper input#emailVerificationCode.textInput:focus {
    z-index: 1;
}

@media (max-width: 19.99em) {
    input#emailVerificationCode.textInput__wrapper {
        display: block;
    }

    input#emailVerificationCode.textInput__wrapper input#emailVerificationCode.textInput {
        max-width: 100%;
    }
}

input#emailVerificationCode.textInput__prefix,
input#emailVerificationCode.textInput__suffix {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    display: inline-block;
    min-width: 40px;
    min-width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    padding: 5px;
    border: 2px solid #0b0c0c;
    background-color: #f3f2f1;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

@media print {

    input#emailVerificationCode.textInput__prefix,
    input#emailVerificationCode.textInput__suffix {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {

    input#emailVerificationCode.textInput__prefix,
    input#emailVerificationCode.textInput__suffix {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

@media print {

    input#emailVerificationCode.textInput__prefix,
    input#emailVerificationCode.textInput__suffix {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (max-width: 40.0525em) {

    input#emailVerificationCode.textInput__prefix,
    input#emailVerificationCode.textInput__suffix {
        line-height: 1.6;
    }
}

@media (max-width: 19.99em) {

    input#emailVerificationCode.textInput__prefix,
    input#emailVerificationCode.textInput__suffix {
        display: block;
        height: 100%;
        white-space: normal;
    }

    input#emailVerificationCode.textInput__prefix {
        border-bottom: 0;
    }
}

@media (min-width: 20em) {
    input#emailVerificationCode.textInput__prefix {
        border-right: 0;
    }
}

@media (max-width: 19.99em) {
    input#emailVerificationCode.textInput__suffix {
        border-top: 0;
    }
}

@media (min-width: 20em) {
    input#emailVerificationCode.textInput__suffix {
        border-left: 0;
    }
}

button#emailVerificationControl_but_verify_code.verifyCode {
    font-family: 'GDS Transport', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 20px;
    margin-bottom: 60px;
}

@media (min-width: 40.0625em) {
    button#emailVerificationControl_but_verify_code.verifyCode {
        width: auto;
        margin-bottom: 32px;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1;
    }
}

button#emailVerificationControl_but_verify_code.verifyCode:link,
button#emailVerificationControl_but_verify_code.verifyCode:visited,
button#emailVerificationControl_but_verify_code.verifyCode:active,
button#emailVerificationControl_but_verify_code.verifyCode:hover {
    color: #ffffff;
    text-decoration: none;
}

button#emailVerificationControl_but_verify_code.verifyCode::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button#emailVerificationControl_but_verify_code.verifyCode:focus {
    border-color: #fd0;
    outline: 3px solid transparent;
    box-shadow: inset 0 0 0 1px #fd0;
}

button#emailVerificationControl_but_verify_code.verifyCode:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c;
}

button#emailVerificationControl_but_verify_code.verifyCode:active {
    top: 2px;
}

button#emailVerificationControl_but_verify_code.verifyCode:active:before {
    top: -4px;
}

button#emailVerificationControl_but_verify_code.verifyCode:hover {
    background-color: #005a30;
}

button#emailVerificationControl_but_verify_code.verifyCode:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
}

button#emailVerificationControl_but_send_new_code,
button#emailVerificationControl_but_change_claims {
    color: #1d70b8;
    margin-top: 26px;
    margin-left: 14px;
    font-size: 19px;
    border: none;
    background: none;
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    cursor: pointer;
}

button#emailVerificationControl_but_change_claims {
    margin-left: 0;
}

@media (min-width: 1020px) {
    button#emailVerificationControl_but_change_claims {
        float: right;
        margin-top: 32px;
        margin-right: 635px;
    }
}

.verificationSuccessText {
    margin-bottom: 10px;
}

@media print {
    button#emailVerificationControl_but_send_new_code {
        font-family: sans-serif
    }
}

button#emailVerificationControl_but_send_new_code:focus {
    outline: 3px solid transparent;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

button#emailVerificationControl_but_send_new_code:link {
    color: #1d70b8
}

button#emailVerificationControl_but_send_new_code:visited {
    color: #4c2c92
}

button#emailVerificationControl_but_send_new_code:hover {
    color: #003078
}

button#emailVerificationControl_but_send_new_code:active,
button#emailVerificationControl_but_send_new_code:focus {
    color: #0b0c0c
}

@media print {

    [href^="/"]button#emailVerificationControl_but_send_new_code:after,
    [href^="http://"]button#emailVerificationControl_but_send_new_code:after,
    [href^="https://"]button#emailVerificationControl_but_send_new_code:after {
        content: " (" attr(href) ")";
        font-size: 90%;
        word-wrap: break-word
    }
}

button#emailVerificationControl_but_send_new_code--muted:link,
button#emailVerificationControl_but_send_new_code--muted:visited {
    color: #505a5f
}

button#emailVerificationControl_but_send_new_code--muted:active,
button#emailVerificationControl_but_send_new_code--muted:focus,
button#emailVerificationControl_but_send_new_code--muted:hover,
button#emailVerificationControl_but_send_new_code--text-colour:link,
button#emailVerificationControl_but_send_new_code--text-colour:visited {
    color: #0b0c0c
}

@media print {

    button#emailVerificationControl_but_send_new_code--text-colour:link,
    button#emailVerificationControl_but_send_new_code--text-colour:visited {
        color: #000
    }
}

button#emailVerificationControl_but_send_new_code--text-colour:hover {
    color: rgba(11, 12, 12, .99)
}

button#emailVerificationControl_but_send_new_code--text-colour:active,
button#emailVerificationControl_but_send_new_code--text-colour:focus {
    color: #0b0c0c
}

@media print {

    button#emailVerificationControl_but_send_new_code--text-colour:active,
    button#emailVerificationControl_but_send_new_code--text-colour:focus {
        color: #000
    }
}

button#emailVerificationControl_but_send_new_code--inverse:link,
button#emailVerificationControl_but_send_new_code--inverse:visited {
    color: #fff
}

button#emailVerificationControl_but_send_new_code--inverse:active,
button#emailVerificationControl_but_send_new_code--inverse:hover {
    color: hsla(0, 0%, 100%, .99)
}

button#emailVerificationControl_but_send_new_code--inverse:focus {
    color: #0b0c0c
}

button#emailVerificationControl_but_send_new_code--no-underline:not(:hover):not(:active) {
    text-decoration: none
}

button#emailVerificationControl_but_send_new_code--no-visited-state:link,
button#emailVerificationControl_but_send_new_code--no-visited-state:visited {
    color: #1d70b8
}

button#emailVerificationControl_but_send_new_code--no-visited-state:hover {
    color: #003078
}

button#emailVerificationControl_but_send_new_code--no-visited-state:active,
button#emailVerificationControl_but_send_new_code--no-visited-state:focus,
.govuk-list {
    color: #0b0c0c
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px white inset;
}

button#emailVerificationControl_but_change_claims:focus {
    outline: 3px solid transparent;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

button#emailVerificationControl_but_change_claims:visited {
    color: #4c2c92
}

button#emailVerificationControl_but_change_claims:hover {
    color: #003078
}

button#emailVerificationControl_but_change_claims:active,
button#emailVerificationControl_but_change_claims:focus {
    color: #0b0c0c
}