<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-filters (filterEvent)="setFilters($event)" (clearFilterEvent)="clearFilters()" [filters]="filters" />
  </div>
  <div class="govuk-grid-column-two-thirds">
    @if (users.length) {
      <button
        class="govuk-button govuk-button--secondary remove-users-button"
        data-module="govuk-button"
        (click)="outputSelectedRows()"
      >
        Remove user{{ selectedRows.length !== 1 ? 's' : '' }}
      </button>
    }
    <app-data-table
      id="users-table"
      noDataMessage="There are no users for this courthouse"
      [rows]="users"
      [columns]="columns"
      [rowSelectable]="true"
      (rowSelect)="selectedRows = $event"
    />
  </div>
</div>
