<ng-template #eventRowTemplate let-row>
  @if (row) {
    <td class="event-id">
      <a class="govuk-link" [routerLink]="['/admin', 'events', id()]"> {{ row.id }}</a>
    </td>
    <td>{{ row.timestamp | luxonDate: "dd MMM yyyy 'at' HH:mm:ss" }}</td>
    <td>{{ row.name }}</td>
    <td>{{ row.courthouse }}</td>
    <td>{{ row.courtroom }}</td>
    <td>{{ row.text }}</td>
  }
</ng-template>

<a [routerLink]="['../']" class="govuk-back-link">Back</a>

<app-govuk-heading tag="h1" size="l">All versions of this event</app-govuk-heading>

<h2 class="govuk-heading-s">Source event ID</h2>
<p class="govuk-body">{{ id() }}</p>

<app-govuk-heading tag="h2" size="m">Current version</app-govuk-heading>
<app-data-table
  [columns]="columns"
  [rows]="[currentVersion()]"
  caption="Current version of this event"
  [hiddenCaption]="true"
>
  <ng-template [tableRowTemplate]="[currentVersion()]" let-row>
    <ng-container *ngTemplateOutlet="eventRowTemplate; context: { $implicit: row }"></ng-container>
  </ng-template>
</app-data-table>

<app-govuk-heading tag="h2" size="m">Previous versions</app-govuk-heading>
<app-data-table
  [columns]="columns"
  [rows]="previousVersions()"
  caption="Previous versions of this event"
  [hiddenCaption]="true"
>
  <ng-template [tableRowTemplate]="previousVersions()" let-row>
    <ng-container *ngTemplateOutlet="eventRowTemplate; context: { $implicit: row }"></ng-container>
  </ng-template>
</app-data-table>

<a [routerLink]="['../']" class="govuk-link">Back to event details</a>
