@if (isLoading()) {
  <app-loading />
} @else {
  <ng-template #eventRowTemplate let-row>
    @if (row) {
      <td class="event-id">
        <a class="govuk-link" [routerLink]="['/admin', 'events', row.id]"> {{ row.id }}</a>
      </td>
      <td>{{ row.timestamp | luxonDate: "dd MMM yyyy 'at' HH:mm:ss" }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.courthouse }}</td>
      <td>{{ row.courtroom }}</td>
      <td>{{ row.text }}</td>
    }
  </ng-template>

  <a [routerLink]="['../']" class="govuk-back-link">Back</a>

  @if (hasUpdatedVersion$ | async) {
    <app-govuk-banner type="success">Event version updated</app-govuk-banner>
  }

  <app-govuk-heading tag="h1" size="l">All versions of this event</app-govuk-heading>

  <h2 class="govuk-heading-s">Source event ID</h2>
  <p id="sourceEventId" class="govuk-body">{{ sourceEventId }}</p>

  <app-govuk-heading tag="h2" size="m">Current version</app-govuk-heading>
  <app-data-table
    id="currentVersionTable"
    [columns]="columns"
    [rows]="currentVersion() ? [currentVersion()] : []"
    caption="Current version of this event"
    noDataMessage="There is no current version of this event."
    [hiddenCaption]="true"
  >
    <ng-template [tableRowTemplate]="[currentVersion()]" let-row>
      <ng-container *ngTemplateOutlet="eventRowTemplate; context: { $implicit: row }"></ng-container>
    </ng-template>
  </app-data-table>

  <div class="action-container">
    <app-govuk-heading tag="h2" size="m">Previous versions</app-govuk-heading>

    @if (previousVersions().length) {
      <button
        id="setVersionButton"
        name="makeCurrentVersion"
        class="govuk-button govuk-button--secondary"
        (click)="onDelete()"
      >
        Make current version
      </button>
    }
  </div>
  <app-data-table
    [rowSelectable]="true"
    [singleRowSelect]="true"
    [(selectedRows)]="selectedVersion"
    (rowSelect)="onSelectedVersion($event)"
    id="previousVersionsTable"
    [columns]="prevColumns"
    [rows]="previousVersions()"
    caption="Previous versions of this event"
    noDataMessage="There are no previous versions of this event."
    [hiddenCaption]="true"
  >
    <ng-template [tableRowTemplate]="previousVersions()" let-row>
      <ng-container *ngTemplateOutlet="eventRowTemplate; context: { $implicit: row }"></ng-container>
    </ng-template>
  </app-data-table>

  <a [routerLink]="['../']" class="govuk-link">Back to event details</a>
}
