<!-- Start of form -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="case-search"> Search for a case </label>
  </h1>

  <div *ngIf="errorSummary.length > 0" class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li *ngFor="let error of errorSummary">
            <a href="search#{{ error.fieldId }}">{{ error.message }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': isSubmitted && f.case_number.errors }">
    <label class="govuk-label" for="case_number"> Case ID </label>
    <div id="case_number-hint" class="govuk-hint">
      Also known as a case reference or court reference. There should be no spaces.
    </div>
    <div *ngIf="isControlInvalid('case_number')">
      <p *ngFor="let error of getFieldErrorMessages('case_number')" id="casenumber-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ error }}
      </p>
    </div>
    <input
      formControlName="case_number"
      minlength="1"
      class="govuk-input govuk-input--width-10"
      id="case_number"
      name="case_number"
      type="text"
      aria-describedby="case-search-hint"
      aria-describedby="case_number-hint"
      [ngClass]="{ 'govuk-input--error': isSubmitted && f.case_number.errors }"
    />
  </div>
  <details class="govuk-details" data-module="govuk-details" [open]="isAdvancedSearch">
    <summary class="govuk-details__summary" (click)="toggleAdvancedSearch($event)">
      <span class="govuk-details__summary-text"> Advanced search </span>
    </summary>
    <div class="govuk-form-group govuk-details__text">
      <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('courthouse')">
        <app-courthouse-field
          *ngIf="courthouses$ | async as courthouses"
          [courthouses]="courthouses"
          (courthouseSelect)="onCourthouseSelected($event)"
          [isInvalid]="isControlInvalid('courthouse')"
        ></app-courthouse-field>
      </div>

      <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('courthouse')">
        <label class="govuk-label" for="courtroom"> Courtroom </label>
        <div id="courtroom-search-hint" class="govuk-hint">For example, 3</div>
        <!-- Error message courtroom -->
        <div *ngIf="isControlInvalid('courthouse')">
          <p
            *ngFor="let error of getFieldErrorMessages('courthouse')"
            id="courthouse-error"
            class="govuk-error-message"
          >
            <span class="govuk-visually-hidden">Error:</span> {{ error }}
          </p>
        </div>
        <input
          minlength="1"
          formControlName="courtroom"
          class="govuk-input govuk-input--width-2"
          id="courtroom"
          name="courtroom"
          type="text"
          aria-describedby="courtroom-search-hint"
          [class.govuk-input--error]="isControlInvalid('courthouse')"
        />
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="advanced-case-search"> Hearing date </label>
        <div id="hearingdate-search-hint" class="govuk-hint">There is limited data pre-2012.</div>
        <div class="govuk-radios" data-module="govuk-radios">
          <!-- Specific date -->
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="specific-date-radio"
              name="specific-date-radio"
              type="radio"
              [checked]="dateInputType === 'specific'"
              (change)="toggleRadioSelected('specific')"
            />

            <label class="govuk-label govuk-radios__label" for="specific-date-radio"> Specific date </label>
          </div>

          <div
            *ngIf="dateInputType === 'specific'"
            class="govuk-form-group input-group-indent-1"
            [class.govuk-details__text]="!isControlInvalid('specific_date')"
            [class.govuk-form-group--error]="isControlInvalid('specific_date')"
            id="specific-date-items"
          >
            <div data-module="ds-datepicker" class="ds_datepicker">
              <p class="ds_hint-text">For example, 31/01/2023.</p>
              <!-- Error message date range date_from -->
              <div *ngIf="isControlInvalid('specific_date')">
                <p
                  *ngFor="let error of getFieldErrorMessages('specific_date')"
                  id="specific_date-error"
                  class="govuk-error-message"
                >
                  <span class="govuk-visually-hidden">Error:</span> {{ error }}
                </p>
              </div>
              <div class="ds_input__wrapper">
                <input
                  formControlName="specific_date"
                  name="specific_date"
                  id="specific_date"
                  type="text"
                  class="ds_input ds_input--fixed-10"
                  (change)="setInputValue($any($event).target.value, 'specific_date')"
                  [class.govuk-input--error]="isControlInvalid('specific_date')"
                />
              </div>
            </div>
          </div>
          <!-- End of specific date -->

          <!-- Date range -->
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="date-range-radio"
              name="date-range-radio"
              type="radio"
              [checked]="dateInputType === 'range'"
              (change)="toggleRadioSelected('range')"
              aria-label="Date range radio button"
            />
            <label class="govuk-label govuk-radios__label" for="date-range-radio"> Date range </label>
          </div>
          <div *ngIf="dateInputType === 'range'" id="date-range-items">
            <div
              class="govuk-form-group input-group-indent-1"
              [class.govuk-details__text]="!isControlInvalid('date_from')"
              [class.govuk-form-group--error]="isControlInvalid('date_from')"
              id="range-date-items"
            >
              <div data-module="ds-datepicker" class="ds_datepicker">
                <label class="ds_label" for="range-date-from">From</label>
                <p class="ds_hint-text">For example, 31/01/2023.</p>

                <!-- Error message date range date_from -->
                <div *ngIf="isControlInvalid('date_from')">
                  <p
                    *ngFor="let error of getFieldErrorMessages('date_from')"
                    id="date_from-error"
                    class="govuk-error-message"
                  >
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                  </p>
                </div>

                <div class="ds_input__wrapper">
                  <input
                    formControlName="date_from"
                    name="date_from"
                    id="date_from"
                    type="text"
                    class="ds_input ds_input--fixed-10"
                    (change)="setInputValue($any($event).target.value, 'date_from')"
                    [class.govuk-input--error]="isControlInvalid('date_from')"
                  />
                </div>
              </div>
            </div>

            <div
              class="govuk-form-group input-group-indent-1"
              [class.govuk-details__text]="!isControlInvalid('date_to')"
              [class.govuk-form-group--error]="isControlInvalid('date_to')"
            >
              <div data-module="ds-datepicker" class="ds_datepicker">
                <label class="ds_label" for="range-date-to">To</label>
                <p class="ds_hint-text">For example, 31/01/2023.</p>

                <!-- Error message date range date_to -->
                <div *ngIf="isControlInvalid('date_to')">
                  <p
                    *ngFor="let error of getFieldErrorMessages('date_to')"
                    id="date_to-error"
                    class="govuk-error-message"
                  >
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                  </p>
                </div>

                <div class="ds_input__wrapper">
                  <input
                    formControlName="date_to"
                    id="date_to"
                    name="date_to"
                    type="text"
                    class="ds_input ds_input--fixed-10"
                    (change)="setInputValue($any($event).target.value, 'date_to')"
                    [class.govuk-input--error]="isControlInvalid('date_to')"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- End of date range -->
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="defendant"> Defendant's name </label>
        <input
          formControlName="defendant_name"
          class="govuk-input govuk-input--width-20"
          id="defendant"
          name="defendant"
          type="text"
        />
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="judge"> Judge's name </label>
        <input
          formControlName="judge_name"
          class="govuk-input govuk-input--width-20"
          id="judge"
          name="judge"
          type="text"
        />
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="keywords"> Keywords </label>
        <input
          formControlName="event_text_contains"
          class="govuk-input govuk-input--width-20"
          id="keywords"
          name="keywords"
          type="text"
        />
      </div>
    </div>
  </details>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">Search</button>
    <a class="govuk-link" href="javascript:void(0)" (click)="clearSearch()">Clear search</a>
  </div>
</form>

<app-results [cases]="cases" [loaded]="loaded" [errorType]="errorType"> </app-results>
