<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="case-search">
      Search for a case
    </label>
  </h1>
  <label class="govuk-label" for="case-search">
    Case number
  </label>
  <div id="case-search-hint" class="govuk-hint">
    Also known as a case reference or court reference. There should be no spaces.
  </div>
  <input class="govuk-input" id="case-search" name="case-search" type="text" aria-describedby="case-search-hint">
</div>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Advanced search
    </span>
  </summary>
  <div class="govuk-details__text">
    <i>Placeholder for advanced search</i>
  </div>
</details>
<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  <a class="govuk-link" href="#">Clear search</a>
</div>



