<ng-container *ngIf="!isDeleting && (case$ | async) as case">
  <app-breadcrumb>
    <ng-container *breadcrumb="['../']">Your Audio</ng-container>
    <ng-container *breadcrumb>{{ fileName }}</ng-container>
  </app-breadcrumb>

  <app-reporting-restriction
    *ngIf="case.reporting_restriction"
    [reportingRestriction]="case.reporting_restriction"
  ></app-reporting-restriction>

  <h1 class="govuk-caption-l">Audio File</h1>
  <h1 class="govuk-heading-l">{{ fileName }}</h1>

  <h2 class="govuk-heading-m">Case details</h2>
  <h1 class="govuk-heading-s">Case ID</h1>
  <h1 class="govuk-body">{{ case.case_number }}</h1>
  <h3 class="govuk-heading-s">Courthouse</h3>
  <p class="govuk-body">{{ case.courthouse }}</p>
  <h3 class="govuk-heading-s">Defendant(s)</h3>
  <p class="govuk-body">{{ case.defendants }}</p>
  <ng-container *ngIf="audioRequest">
    <h2 class="govuk-heading-m">Audio details</h2>
    <h1 class="govuk-heading-s">Hearing date</h1>
    <h1 class="govuk-body">{{ audioRequest.hearingDate | date: 'd MMM y' }}</h1>
    <h3 class="govuk-heading-s">Start Time</h3>
    <p class="govuk-body">{{ audioRequest.startTime | date: 'HH:mm:ss' }}</p>
    <h3 class="govuk-heading-s">End Time</h3>
    <p class="govuk-body">{{ audioRequest.endTime | date: 'HH:mm:ss' }}</p>
  </ng-container>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />

  <ng-container *ngIf="audioRequest.requestType === 'PLAYBACK'">
    <h2 class="govuk-heading-l">Play all audio</h2>

    <p class="govuk-body">Skip to event</p>
    <p class="govuk-body">Jump to a specific audio events within the audio file</p>
    <app-data-table [rows]="rows" [columns]="columns">
      <ng-template [tableRowTemplate]="rows" let-row let-index>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">
          {{ row.eventType }}
          <app-audio-player *ngIf="false" [mediaId]="41"></app-audio-player>
        </td>
        <td class="govuk-table__cell">
          <div>{{ row.eventTime | date: 'HH:mm:ss' }}</div>
        </td>
        <td class="govuk-table__cell">{{ row.audioTime | date: 'hh:mm:ss' }}</td>
      </ng-template>
    </app-data-table>
  </ng-container>

  <div class="govuk-button-group">
    <a class="govuk-button" [href]="downloadUrl" [download]="fileName">Download audio file</a>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />

  <a href="#" (click)="$event.preventDefault(); isDeleting = true" class="govuk-link">Delete audio file</a>
</ng-container>

<app-audio-delete
  *ngIf="isDeleting"
  [rowsToDelete]="[audioRequest]"
  (confirm)="onDeleteConfirmed()"
  (cancel)="isDeleting = false"
></app-audio-delete>
