<ng-container *ngIf="!isDeleting && (data$ | async) as data">
  <app-breadcrumb>
    <ng-container *breadcrumb="['../']">Your Audio</ng-container>
    <ng-container *breadcrumb>{{ fileName }}</ng-container>
  </app-breadcrumb>

  <app-reporting-restriction
    *ngIf="data.case.reporting_restriction"
    [reportingRestriction]="data.case.reporting_restriction"
  ></app-reporting-restriction>

  <div *ngIf="data.errorCode === 403" class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li *ngFor="let error of permissionErrors">
            <a [routerLink]="['.']">{{ error }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h1 class="govuk-caption-l">Audio File</h1>
  <h1 class="govuk-heading-l">{{ fileName }}</h1>

  <h2 class="govuk-heading-m">Case details</h2>
  <h1 class="govuk-heading-s">Case ID</h1>
  <h1 class="govuk-body">{{ data.case.case_number }}</h1>
  <h3 class="govuk-heading-s">Courthouse</h3>
  <p class="govuk-body">{{ data.case.courthouse }}</p>
  <h3 class="govuk-heading-s">Defendant(s)</h3>
  <p class="govuk-body">{{ data.case.defendants }}</p>
  <ng-container *ngIf="audioRequest">
    <h2 class="govuk-heading-m">Audio details</h2>
    <h1 class="govuk-heading-s">Hearing date</h1>
    <h1 class="govuk-body">{{ audioRequest.hearingDate | date: 'd MMM y' }}</h1>
    <h3 class="govuk-heading-s">Start Time</h3>
    <p class="govuk-body">{{ audioRequest.startTime | date: 'HH:mm:ss' }}</p>
    <h3 class="govuk-heading-s">End Time</h3>
    <p class="govuk-body">{{ audioRequest.endTime | date: 'HH:mm:ss' }}</p>
  </ng-container>

  <div class="govuk-button-group">
    <button class="govuk-button" (click)="onDownloadClicked()" [disabled]="data.errorCode !== 200">
      Download audio file
    </button>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />

  <a href="#" (click)="$event.preventDefault(); isDeleting = true" class="govuk-link">Delete audio file</a>
</ng-container>

<app-audio-delete
  *ngIf="isDeleting"
  [rowsToDelete]="[audioRequest]"
  (confirm)="onDeleteConfirmed()"
  (cancel)="isDeleting = false"
></app-audio-delete>
