<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('displayName')">
    <label for="displayName" class="govuk-label">Display name</label>

    @for (error of getErrorMessages('displayName'); track error) {
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ error }}</p>
    }

    <input
      type="text"
      id="displayName"
      name="displayName"
      formControlName="displayName"
      class="govuk-input govuk-input--width-20"
      [class.govuk-input--error]="isControlInvalid('displayName')"
    />
  </div>
  <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('name')">
    <label for="name" class="govuk-label">Name</label>

    @for (error of getErrorMessages('name'); track error) {
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ error }}</p>
    }

    <input
      type="text"
      id="name"
      name="name"
      formControlName="name"
      class="govuk-input govuk-input--width-20"
      [class.govuk-input--error]="isControlInvalid('name')"
    />
  </div>
  <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('description')">
    <label for="description" class="govuk-label">Description</label>

    @for (error of getErrorMessages('description'); track error) {
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ error }}</p>
    }

    <input
      id="description"
      name="description"
      formControlName="description"
      class="govuk-input govuk-input--width-20"
      [class.govuk-input--error]="isControlInvalid('description')"
    />
  </div>
  <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('fixedPolicyKey')">
    <label for="fixedPolicyKey" class="govuk-label">Fixed policy key</label>
    @if (context === 'create-revision' || context === 'edit-revision') {
      <p class="govuk-body" id="read-only-fixed-policy-key">{{ form.controls.fixedPolicyKey.value }}</p>
    } @else {
      @for (error of getErrorMessages('fixedPolicyKey'); track error) {
        <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ error }}</p>
      }
      <input
        type="text"
        id="fixedPolicyKey"
        name="fixedPolicyKey"
        formControlName="fixedPolicyKey"
        class="govuk-input govuk-input--width-10"
        [class.govuk-input--error]="isControlInvalid('fixedPolicyKey')"
      />
    }
  </div>
  <div class="govuk-form-group" formGroupName="duration" [class.govuk-form-group--error]="isControlInvalid('duration')">
    <fieldset class="govuk-fieldset" role="group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h4 class="govuk-fieldset__heading">Duration</h4>
      </legend>

      @for (error of getErrorMessages('duration'); track error) {
        <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ error }}</p>
      }

      <div class="govuk-date-input">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="years"> Years </label>

            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              id="years"
              name="years"
              type="text"
              formControlName="years"
              maxlength="2"
              [class.govuk-input--error]="isControlInvalid('duration')"
            />
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="months"> Months </label>

            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              id="months"
              name="months"
              type="text"
              formControlName="months"
              maxlength="2"
              [class.govuk-input--error]="isControlInvalid('duration')"
            />
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="days"> Days </label>

            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              id="days"
              name="days"
              type="text"
              formControlName="days"
              maxlength="2"
              [class.govuk-input--error]="isControlInvalid('duration')"
            />
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <fieldset class="govuk-fieldset" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m underline">
      <h4 class="govuk-fieldset__heading">Policy start</h4>
    </legend>

    <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('startDate')">
      <app-datepicker
        inputId="startDate"
        [control]="form.controls.startDate"
        name="startDate"
        label="Start date"
        [errors]="getErrorMessages('startDate')"
        (dateChange)="form.controls.startDate.setValue($event)"
      />
    </div>

    <div class="govuk-form-group" [class.govuk-form-group--error]="isControlInvalid('startTime')">
      <label class="govuk-label bold-label" for="startTime">Start time</label>

      @for (error of getErrorMessages('startTime'); track error) {
        <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ error }}</p>
      }

      <app-time-input
        id="startTime"
        idStringPrepend="start-time"
        formGroupName="startTime"
        [isSubmitted]="!!form.get('startTime.hours')?.touched && !!form.get('startTime.minutes')?.touched"
      />
    </div>
  </fieldset>

  <div class="govuk-button-group">
    <button id="confirm-button" class="govuk-button" (mousedown)="(false)" type="submit">{{ submitButtonText }}</button>
    <a class="govuk-link" href="javascript:void(0)" (click)="cancel.emit()">Cancel</a>
  </div>
</form>
