:host ::ng-deep {
  .colon {
    margin-bottom: 0;
  }
  app-datepicker {
    label {
      font-weight: bold;
    }
  }
  .bold-label {
    font-weight: bold;
  }
  .ds_input {
    width: 153px;
  }
}

.underline {
  border-bottom: 2px solid;
  width: 100%;
}

.govuk-fieldset {
  width: 66%;
}
