@if (restrictions?.length) {
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title">
    <div class="govuk-notification-banner__header">
      <h1 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h1>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">{{ heading }}</p>
      @if (displayRestrictions.length) {
        <app-govuk-details openSummary="Hide restrictions" closedSummary="Show restrictions">
          <ul class="govuk-list">
            @for (restriction of displayRestrictions; track $index) {
              @if (restriction.event_name === 'Restrictions lifted') {
                <li class="restriction restrictions-lifted">
                  @if (!hearingId && restriction.event_ts) {
                    <strong>Restrictions lifted:</strong> {{ restriction.event_ts | date: 'dd MMM yyyy' }}
                  } @else {
                    <strong>Restrictions lifted</strong>
                  }
                </li>
              } @else {
                <li class="restriction">
                  <strong>Restriction applied:</strong> {{ restriction.event_name }}
                  @if (!hearingId && restriction.event_ts) {
                    <span class="applied-datetime">- Applied {{ restriction.event_ts | date: 'dd MMM yyyy' }}</span>
                  }
                </li>
              }
            }
          </ul>
          <ng-content />
          <p class="govuk-body">{{ footer }}</p>
        </app-govuk-details>
      }
    </div>
  </div>
}
