<div data-module="ds-datepicker" class="ds_datepicker">
  <label class="ds_label" for="retention-date">{{ label }}</label>
  <p class="ds_hint-text">{{ hint }}</p>
  <!-- Error message if date invalid -->
  <div *ngIf="error" id="retention-date-errors">
    <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>{{ error }}</p>
  </div>
  <div class="ds_input__wrapper">
    <input
      aria-label="Enter a date in dd/mm/yyyy format"
      [name]="name ? name : null"
      [id]="id ? id : null"
      type="text"
      class="ds_input ds_input--fixed-10"
      (change)="setDateValue($any($event).target.value)"
      [class.govuk-input--error]="error"
    />
  </div>
</div>
