<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul id="portal-nav" class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="search"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Search</a
            >
          </li>
          @if (isTranscriber) {
            <li class="moj-primary-navigation__item">
              <a
                id="your-work-link"
                class="moj-primary-navigation__link"
                routerLink="work"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Your work
                @if (assignedTranscriptCount) {
                  <span id="assignedTranscriptCount" class="moj-notification-badge"
                    ><span class="govuk-visually-hidden">Transcript requests assigned count: </span
                    >{{ assignedTranscriptCount }}</span
                  >
                }
              </a>
            </li>
          }
          <li class="moj-primary-navigation__item">
            <a
              class="moj-primary-navigation__link"
              routerLink="audios"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Your audio
              @if (unreadAudioCount) {
                <span id="unreadAudioCountNotifications" class="moj-notification-badge"
                  ><span class="govuk-visually-hidden">Ready requests not viewed count: </span
                  >{{ unreadAudioCount }}</span
                >
              }
            </a>
          </li>
          @if (isJudge || isApprover || isRequester) {
            <li class="moj-primary-navigation__item">
              <a
                class="moj-primary-navigation__link"
                routerLink="transcriptions"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Your transcripts</a
              >
            </li>
          }
          @if (isTranscriber) {
            <li class="moj-primary-navigation__item">
              <a
                id="transcript-requests-link"
                class="moj-primary-navigation__link"
                routerLink="transcription-requests"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Transcript requests
                @if (unassignedTranscriptCount) {
                  <span id="unassignedTranscriptCount" class="moj-notification-badge"
                    ><span class="govuk-visually-hidden">Transcript requests unassigned count: </span
                    >{{ unassignedTranscriptCount }}</span
                  >
                }
              </a>
            </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</div>
