@if (isError) {
  @if (statusCode$ | async; as statusCode) {
    @if (statusCode === 403) {
      <p class="govuk-body" id="permission-error">
        You do not have permission to preview. If you believe you should have permission
        <a href="mailto:{{ support?.emailAddress }}" class="govuk-link">contact {{ support?.name }}</a>
      </p>
    }
    @if (statusCode === 404) {
      <p class="govuk-body" id="not-found-error">Preview not found</p>
    }
    @if (statusCode >= 500) {
      <p class="govuk-body" id="error">
        An error has occurred. Try again or
        <a href="mailto:{{ support?.emailAddress }}" class="govuk-link">contact {{ support?.name }}</a> if the problem
        persists
      </p>
    }
  }
} @else {
  <audio
    #audioPlayer
    controls
    [autoplay]="autoplay"
    [ngStyle]="{ display: (!canPlay && preload) || isError ? 'none' : 'block' }"
    (canplay)="canPlay = true"
    (pause)="pause.emit()"
    (play)="play.emit()"
    (timeupdate)="onTimeUpdate()"
    (error)="isError = true"
  >
    <source type="audio/mpeg" (error)="isError = true" [src]="audioSource" />
  </audio>

  @if (!canPlay && preload && !isError) {
    <p class="govuk-body" id="loading">Loading audio... Please wait</p>
  }
}
