<div class="space-between">
  <app-govuk-heading>Users</app-govuk-heading>
  <button class="govuk-button govuk-button--secondary">Create new user</button>
</div>
<app-govuk-heading tag="h2" size="m">Search for user</app-govuk-heading>

<app-user-search-form (submitForm)="onSubmit($event)" (clear)="onClear()" />

@if (loading$ | async) {
  <app-loading />
}

@if (results$ | async; as results) {
  <app-user-search-results [results]="results" />
}

@if (error$ | async; as error) {
  <p class="govuk-body govuk-error-message">Error: {{ error.message }}</p>
  <p class="govuk-body govuk-error-message">
    @for (violation of error.error.violations; track violation) {
      <p class="govuk-body govuk-error-message">{{ violation.field }}: {{ violation.message }}</p>
    }
  </p>
}
