<div class="space-between">
  <app-govuk-heading>Users</app-govuk-heading>

  @if (userService.isAdmin()) {
    <button class="govuk-button govuk-button--secondary" (click)="router.navigate(['admin/users/create'])">
      Create new user
    </button>
  }
</div>
<app-govuk-heading tag="h2" size="m">Search for user</app-govuk-heading>

<app-user-search-form (submitForm)="onSubmit($event)" (clear)="onClear()" />

@if (loading$ | async) {
  <app-loading />
}

@if (results$ | async; as results) {
  <app-user-search-results [results]="results" [loading]="loading$ | async" />
}
