@let isAdmin = adminScreen();
@let id = caseId();

<app-data-table
  id="hearingsTable"
  [rows]="hearings()"
  [columns]="columns"
  [hiddenCaption]="true"
  caption="Hearings associated with case"
>
  <ng-template [tableRowTemplate]="hearings()" let-row>
    <td>
      <a
        class="govuk-link"
        (click)="clearStoredTabs()"
        [routerLink]="[isAdmin ? '/admin/case' : '/case', id, 'hearing', row.id]"
        [queryParams]="{ backUrl: '/admin/case/' + id }"
      >
        {{ row.date | luxonDate: 'dd MMM y' }}</a
      >
    </td>
    <td>{{ row.judges }}</td>
    <td>{{ row.courtroom }}</td>
    <td>{{ row.transcriptCount }}</td>
  </ng-template>
</app-data-table>
