@import 'govuk-frontend/dist/govuk/all';
@import '@ministryofjustice/frontend/moj/all';
@import 'accessible-autocomplete';
@import 'src/assets/datepicker.scss';

// Override global container widths
.govuk-width-container,
.moj-header__container,
.moj-primary-navigation__container {
  max-width: 1280px;
}

.moj-header__navigation-link {
  text-decoration: none;
  &:hover {
    color: govuk-colour('white');
    cursor: pointer;
  }
}

a.govuk-link {
  cursor: pointer;
  @extend .govuk-link--no-visited-state;
}

.govuk-table__head {
  color: #1d70b8;
}

.govuk-error-summary__body a {
  color: #d4351c;
}

a.govuk-link:hover,
a.govuk-back-link:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.unread {
  height: 15px;
  width: 15px;
  background-color: #1f70b8;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.moj-notification-badge {
  background-color: #1d70b8;
}

.govuk-tag {
  font-weight: 600;
  text-transform: uppercase;
}

.margin-bottom {
  display: block;
  margin-bottom: 1.5rem;
}
