$govuk-suppressed-warnings: ('govuk-typography-scale-14');
@use 'govuk-frontend/dist/govuk/index' as govuk;
@use '@ministryofjustice/frontend/moj/all' as moj;
@use 'accessible-autocomplete' as autocomplete;

// Override global container widths
@mixin global-container-widths {
  .govuk-width-container,
  .moj-header__container,
  .moj-primary-navigation__container {
    @include govuk.govuk-width-container(1280px);
    @include moj.moj-width-container(1280px);
  }
}

@include global-container-widths();

.moj-header__navigation-link {
  text-decoration: none;
  &:hover {
    color: govuk-colour('white');
    cursor: pointer;
  }
}

a.govuk-link {
  cursor: pointer;
  @extend .govuk-link--no-visited-state;
  color: #1d70b8;
}

table:not(.moj-datepicker__calendar) {
  td {
    @extend .govuk-table__cell;
  }
  th {
    @extend .govuk-table__header;
  }
  td,
  th {
    vertical-align: middle !important;
  }
}

p {
  @extend .govuk-body;
}

.govuk-table__head {
  color: #1d70b8;
}

.govuk-error-summary__body a {
  color: #d4351c;
}

.govuk-error-text {
  color: #d4351c;
}

.govuk-input--error {
  border-color: #d4351c !important;
}

a.govuk-link:hover,
a.govuk-back-link:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.unread {
  height: 15px;
  width: 15px;
  background-color: #1f70b8;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.moj-notification-badge {
  background-color: #1d70b8;
}

.margin-bottom {
  display: block;
  margin-bottom: 1.5rem;
}

#content:has(.govuk-back-link) {
  margin-top: 0;
  padding-top: 0;
}

.two-thirds {
  width: 66.6666666667%;
}
