.govuk-table__header,
.govuk-table__cell {
  max-width: 200px;
}

.status-cell {
  display: flex;
  gap: 1rem;
}

.action-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  button {
    margin-bottom: 0;
  }
}
