<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stub DARTS API</title>
  </head>
  <style type="text/css">
    body {
      font-family: sans-serif;
      margin-left: 30px;
    }
  </style>
  <body>
    <h1>Stub login page</h1>
    <form method="post" action="<%=callbackUrl%>">
      <input type="hidden" name="code" value="fake-openid-code" />
      <input id="login" type="submit" value="Login" />
    </form>
  </body>
</html>
