<ng-container [formGroup]="form">
  <div class="govuk-date-input" [id]="idStringPrepend + '-time-picker'">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label hour small-text" [for]="idStringPrepend + '-hour-input'">
          Hour
        </label>
        <input
          class="govuk-input govuk-date-input__input govuk-input--width-2"
          [id]="idStringPrepend + '-hour-input'"
          name="hour-input"
          formControlName="hours"
          type="text"
          inputmode="numeric"
          maxlength="2"
          [ngClass]="{ 'govuk-input--error': form.controls['hours'].invalid && isSubmitted }"
        />
      </div>
    </div>
    <span class="govuk-body colon">:</span>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label small-text" [for]="idStringPrepend + '-minutes-input'">
          Minutes
        </label>
        <input
          class="govuk-input govuk-date-input__input govuk-input--width-2"
          [id]="idStringPrepend + '-minutes-input'"
          name="minutes-input"
          formControlName="minutes"
          type="text"
          inputmode="numeric"
          maxlength="2"
          [ngClass]="{ 'govuk-input--error': form.controls['minutes'].invalid && isSubmitted }"
        />
      </div>
    </div>
    @if (form.controls.seconds) {
      <span class="govuk-body colon">:</span>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label small-text" [for]="idStringPrepend + '-seconds-input'">
            Seconds
          </label>
          <input
            class="govuk-input govuk-date-input__input govuk-input--width-2"
            [id]="idStringPrepend + '-seconds-input'"
            name="seconds-input"
            formControlName="seconds"
            type="text"
            inputmode="numeric"
            maxlength="2"
            [ngClass]="{ 'govuk-input--error': form.controls['seconds'].invalid && isSubmitted }"
          />
        </div>
      </div>
    }
  </div>
</ng-container>
