.govuk-label.govuk-date-input__label.small-text {
  font-size: 0.938rem;
}

.govuk-body.colon {
  display: inline-block;
  position: relative;
  left: -2px;
  top: -2px;
}

.govuk-date-input__item {
  margin-right: 5px;
}
