<div class="govuk-grid-column-two-thirds">
  @if (title) {
    <h1 class="govuk-heading-l">{{ title }}</h1>
  } @else {
    <h1 class="govuk-heading-l">
      Are you sure you want to delete {{ numberOfItems > 1 ? 'these items' : 'this item' }}?
    </h1>
  }
</div>

<ng-content></ng-content>

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-button-group">
    <button class="govuk-button" [ngClass]="isRedDeleteButton ? 'govuk-button--warning' : ''" (click)="confirm.emit()">
      {{ deleteButtonTxt }}
    </button>
    <a href="#" (click)="$event.preventDefault(); cancel.emit()" class="govuk-link">{{ cancelButtonTxt }}</a>
  </div>
</div>
