.govuk-heading-s {
  margin: 0;
}
.govuk-main-wrapper {
  padding-top: 0px;
}

.govuk-heading-m,
.govuk-body-m {
  display: inline;
}

.govuk-heading-l {
  margin-bottom: 20px;
}

.govuk-body {
  margin-bottom: 10px;
}

.govuk-link {
  color: #1d70b8 !important;
}

.retention-link {
  padding-left: 15px;
}
