@if (approvedForDeletion$ | async) {
  @if (fileType$ | async; as fileType) {
    @if (fileType === 'Audio') {
      <app-govuk-banner type="success">All versions of the audio file have been deleted</app-govuk-banner>
    } @else {
      <app-govuk-banner type="success">Transcript file deleted</app-govuk-banner>
    }
  }
}

@if (unmarkedAndUnhidden$ | async) {
  @if (fileType$ | async; as fileType) {
    <app-govuk-banner type="success">{{ fileType }} file unmarked for deletion and unhidden</app-govuk-banner>
  }
}

<app-govuk-heading tag="h1" size="xl">Files marked for deletion</app-govuk-heading>

@if (!isLoading()) {
  <app-tabs [default]="tab()" (tabChange)="onTabChange($event.name)">
    <div
      *tab="
        tabNames.audioFiles;
        screenReaderText: 'Audio files marked for deletion';
        id: 'audio-files-deletion-tab';
        count: audioCount()
      "
    >
      <app-govuk-heading tag="h2">Audio files</app-govuk-heading>

      <app-audio-file-results [rows]="audioFiles()!" (deletion)="onDeleteAudio($event)" />
    </div>
    <div
      *tab="
        tabNames.transcripts;
        screenReaderText: 'Transcript files marked for deletion';
        id: 'transcript-files-deletion-tab';
        count: transcriptCount()
      "
    >
      <app-govuk-heading tag="h2">Transcripts</app-govuk-heading>

      <app-transcripts-for-deletion [rows]="transcripts()!" (deletion)="onDeleteTranscript($event)" />
    </div>
  </app-tabs>
} @else {
  <app-loading text="Loading marked for deletion files..."></app-loading>
}
