@if (approvedForDeletion$ | async) {
  <app-govuk-banner type="success">Audio file deleted</app-govuk-banner>
}

@if (unmarkedAndUnhidden$ | async) {
  <app-govuk-banner type="success">Audio file unmarked for deletion and unhidden</app-govuk-banner>
}

<app-govuk-heading tag="h1" size="xl">Files marked for deletion</app-govuk-heading>

@if (!isLoading()) {
  <app-tabs>
    <div
      *tab="
        'Audio files';
        screenReaderText: 'Audio files marked for deletion';
        id: 'audio-files-deletion-tab';
        count: audioCount()
      "
    >
      <app-govuk-heading tag="h2">Audio files</app-govuk-heading>

      <app-audio-file-results [rows]="audioFiles()" />
    </div>
    <div
      *tab="
        'Transcripts';
        screenReaderText: 'Transcript files marked for deletion';
        id: 'transcript-files-deletion-tab'
      "
    >
      <app-govuk-heading tag="h2">Transcripts</app-govuk-heading>
    </div>
  </app-tabs>
} @else {
  <app-loading text="Loading marked for deletion files..."></app-loading>
}
